@page "/mobile-guides"
@using Sipcon.WebApp.Client.Layout
@layout MobileLayout
<div style="flex-shrink: 0;" class="pa-3 jpv1-dialog-body-background">
    <MudPaper Elevation="2" Class="pa-3">
        <MudGrid Spacing="2">
            <MudItem xs="12">
                <MudStack Row="false" StretchItems="StretchItems.Start" Justify="Justify.FlexEnd">
                    <MudPaper Class="pa-2 mud-theme-info mud-typography-h6">Guias</MudPaper>                      
                </MudStack>
            </MudItem>
            <MudItem xs="12">
                <MudText>
                    <MudDataGrid @ref="GuidesMudDataGrid" T="Guide" ServerData="ServerReload" Striped="true" Hover="true" Filterable="false" Loading="_loading" SelectedItemChanged="ClickSelectGuide" @bind-CurrentPage="GuideCurrentPage" ShowColumnOptions="false" Class="hide-datagrid-headers">
                        <Columns>
                            <PropertyColumn Property="x => x.NumberGuide" Title="" CellClass="d-flex justify-center align-center" />
                        </Columns>
                        <PagerContent>
                            <MudStack Row="false" Spacing="2">
                                <MudPaper Class="pa-3">
                                    <MudTextField T="string" Placeholder="Buscar" Adornment="Adornment.Start" ValueChanged="@(s => OnSearch(s))" Value="searchString" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Style="height:40px;" />
                                </MudPaper>
                            </MudStack>   
                        </PagerContent>
                    </MudDataGrid>
                </MudText>
            </MudItem>
            <MudItem xs="12">
                <MudStack Row="true" Justify="Justify.Center">
                    <MudStack Row="true" Spacing="5">
                        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" />
                        <MudFab Color="Color.Info" StartIcon="@Icons.Material.Filled.Refresh" Size="Size.Medium" OnClick="ClickRefreshGuides" />                        
                        <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Close" Size="Size.Medium" Href="process-list" />
                    </MudStack>
                </MudStack>
            </MudItem>
        </MudGrid>
    </MudPaper>
</div>
<style>
    .hide-datagrid-headers .mud-table-head {
        display: none !important;
    }
</style>
@code {
    bool _loading = true;
    string searchString = "";
    private int GuideCurrentPage = 0;
    record Guide(string NumberGuide);

    private MudDataGrid<Guide>? GuidesMudDataGrid;
    private List<Guide> TestGuides = new()
    {
        new Guide("14764"),
        new Guide("14762"),
        new Guide("14763")
    };

    Func<Guide, object> GetSortKeySelector(string sortByPropertyName) => sortByPropertyName switch
    {
        nameof(Guide.NumberGuide) => o => o.NumberGuide ?? "",
        _ => null!
    };

    private async Task<GridData<Guide>> ServerReload(GridState<Guide> state)
    {
        _loading = true;
        var totalItems = 0;
        var mOffset = state.Page * state.PageSize;
        IEnumerable<Guide> data = TestGuides;
        await Task.CompletedTask;
        // Filter by search string
        if (!string.IsNullOrWhiteSpace(searchString))
        {
            data = data.Where(g => g.NumberGuide.Contains(searchString, StringComparison.OrdinalIgnoreCase));
        }

        totalItems = data.Count();

        // Sorting
        if (state.SortDefinitions.FirstOrDefault() is SortDefinition<Guide> sortDefinition)
        {
            data = data.OrderByDirection(sortDefinition.Descending ? SortDirection.Descending : SortDirection.Ascending, GetSortKeySelector(sortDefinition.SortBy));
        }

        // Paging
        //data = data.Skip(mOffset).Take(state.PageSize);
        
        _loading = false;
        return new GridData<Guide> { TotalItems = totalItems, Items = data };
        
    }

    private async Task ClickRefreshGuides(MouseEventArgs ev)
    {
        await GuidesMudDataGrid!.ReloadServerData();
    }
    private async Task OnSearch(string text)
    {
        if (text.Length == 0 || text.Length >= 3)
        {
            _loading = true;
            searchString = text;
            await GuidesMudDataGrid!.ReloadServerData();
        }
    }
    private async Task ClickSelectGuide(Guide item)
    {
        await Task.CompletedTask;
    }
}