@page "/mobile-package"
@using Sipcon.WebApp.Client.Layout
@layout MobileLayout

<div style="flex-shrink: 0;" class="pa-3 jpv1-dialog-body-background">
    <MudPaper Elevation="2" Class="pa-3">
        <MudGrid Spacing="2">
            <MudItem xs="12">
                <MudStack Row="false" StretchItems="StretchItems.Start" Justify="Justify.FlexEnd">    
                    <MudPaper Class="pa-2 mud-theme-info mud-typography-h6 d-flex flex-column justify-center align-center" style="line-height:1.1;">
                        <span>CLIENTE : DEMO</span>
                        <span>BULTO: 14765-2</span>
                    </MudPaper>
                </MudStack>
            </MudItem>
            <MudItem xs="12">
                <MudText>
                    <MudDataGrid @ref="GuidesMudDataGrid" T="mPackage" ServerData="ServerReload" Striped="true" Hover="true" Filterable="false" Loading="_loading" FixedHeader SelectedItemChanged="ClickSelectGuide" @bind-CurrentPage="GuideCurrentPage" ShowColumnOptions="false" Class="hide-datagrid-headers">
                        <Columns>
                            <TemplateColumn CellClass="d-flex justify-center align-center">
                                <CellTemplate>
                                    <MudStack Row>
                                        <MudText Class="mr-2">@context.Item.PartDescription</MudText>
                                        <MudText Class="mr-2">@context.Item.Quantity</MudText>
                                        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Close" OnClick="() => ClickRemovePart(context.Item)" />
                                    </MudStack>
                                </CellTemplate>
                            </TemplateColumn>                           
                        </Columns>
                        <PagerContent>
                            <MudStack Row="false" Spacing="2">
                                <MudPaper Class="pa-3">
                                    <MudTextField T="string" Placeholder="Buscar" Adornment="Adornment.Start" ValueChanged="@(s => OnSearch(s))" Value="searchString" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Style="height:40px;" />
                                </MudPaper>
                            </MudStack>
                        </PagerContent>
                    </MudDataGrid>
                </MudText>
            </MudItem>
            <MudItem xs="12">
                <MudStack Row="true" Justify="Justify.Center">
                    <MudStack Row="true" Spacing="5">                        
                        <MudFab Color="Color.Success" StartIcon="@Icons.Material.Filled.Check" Size="Size.Medium" />
                        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Search" Size="Size.Medium" />
                        <MudFab Color="Color.Info" StartIcon="@Icons.Material.Filled.Refresh" Size="Size.Medium" OnClick="ClickRefreshPackage" />
                        <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Close" Size="Size.Medium" Href="process-list" />
                    </MudStack>
                </MudStack>
            </MudItem>        
        </MudGrid>
    </MudPaper>
</div>
<style>
    .hide-datagrid-headers .mud-table-head {
        display: none !important;
    }
</style>
@code {
        bool _loading = true;
        string searchString = "";
    private int GuideCurrentPage = 0;
    record mPackage(string PartDescription, int Quantity);

    private MudDataGrid<mPackage>? GuidesMudDataGrid;
    private List<mPackage> TestGuides = new()
    {
        new mPackage("Repuesto 1",25),
        new mPackage("Reouesto 2",30),
        new mPackage("Reouesto 3",45),
    };

    Func<mPackage, object> GetSortKeySelector(string sortByPropertyName) => sortByPropertyName switch
    {
        nameof(mPackage.PartDescription) => o => o.PartDescription ?? "",
        nameof(mPackage.Quantity) => o => o.Quantity ,
        _ => null!
    };

    private async Task<GridData<mPackage>> ServerReload(GridState<mPackage> state)
    {
        _loading = true;
        var totalItems = 0;
        var mOffset = state.Page * state.PageSize;
        IEnumerable<mPackage> data = TestGuides;
       
        // Filter by search string
        if (!string.IsNullOrWhiteSpace(searchString))
        {
            data = data.Where(g => g.PartDescription.Contains(searchString, StringComparison.OrdinalIgnoreCase));
        }

        totalItems = data.Count();

        // Sorting
        if (state.SortDefinitions.FirstOrDefault() is SortDefinition<mPackage> sortDefinition)
        {
            data = data.OrderByDirection(sortDefinition.Descending ? SortDirection.Descending : SortDirection.Ascending, GetSortKeySelector(sortDefinition.SortBy));
        }

        // Paging
        //data = data.Skip(mOffset).Take(state.PageSize);

        _loading = false;
        await Task.CompletedTask;
        return new GridData<mPackage> { TotalItems = totalItems, Items = data };

    }

    private async Task ClickRefreshPackage(MouseEventArgs ev)
    {
        await GuidesMudDataGrid!.ReloadServerData();
    }
    private async Task OnSearch(string text)
    {
        if (text.Length == 0 || text.Length >= 3)
        {
            _loading = true;
            searchString = text;
            await GuidesMudDataGrid!.ReloadServerData();
        }
    }
    private async Task ClickSelectGuide(mPackage item)
    {
        await Task.CompletedTask;
    }
    private async Task ClickRemovePart(mPackage item)
    {
        await Task.CompletedTask;
    }
}