@* @page "/mobile-parts" *@
@using Sipcon.WebApp.Client.Layout
@layout MobileLayout

<div style="flex-shrink: 0;" class="pa-3 jpv1-dialog-body-background">
    <MudPaper Elevation="2" Class="pa-3">
        <MudGrid Spacing="2">
            <MudItem xs="12">
                <MudStack Row="false" StretchItems="StretchItems.Start" Justify="Justify.FlexEnd">
                    <MudPaper Class="pa-2 mud-theme-info mud-typography-h6 d-flex flex-column justify-center align-center" style="line-height:1.1;">
                        <span>CLIENTE : DEMO</span>
                        <span>PENDIENTE</span>
                    </MudPaper>
                </MudStack>
            </MudItem>
            <MudItem xs="12">
                <MudText>
                    <MudDataGrid @ref="PartsMudDataGrid" T="Models.PackageDetail" ServerData="ServerReload" Striped="true" Hover="true" Loading="_loading" Filterable="false" FixedHeader SelectedItemChanged="ClickSelectGuide" @bind-CurrentPage="GuideCurrentPage" ShowColumnOptions="false" Class="hide-datagrid-headers">
                          <Columns>
                            <TemplateColumn CellClass="d-flex justify-center align-center">
                                <CellTemplate>
                                    <MudStack Row>
                                        <MudText Class="mr-2">@context.Item.PartName</MudText>
                                        <MudText Class="mr-2">@context.Item.Pending</MudText>
                                    </MudStack>
                                </CellTemplate>
                            </TemplateColumn>
                        </Columns>                      
                        <PagerContent>
                            <MudStack Row="false" Spacing="2">
                                <MudPaper Class="pa-3">
                                    <MudTextField T="string" Placeholder="Buscar" Adornment="Adornment.Start" ValueChanged="@(s => OnSearch(s))" Value="searchString" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" Style="height:40px;" />
                                </MudPaper>
                            </MudStack>                           
                        </PagerContent>
                    </MudDataGrid>
                </MudText>
            </MudItem>
            <MudItem xs="12">
                <MudStack Row="true" Justify="Justify.Center">
                    <MudStack Row="true" Spacing="5">              
                        <MudFab Color="Color.Success" StartIcon="@Icons.Material.Filled.Refresh" Size="Size.Medium" OnClick="ClickRefreshGuides" />
                        <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Close" Size="Size.Medium" OnClick="ClickClosehGuides" />
                    </MudStack>
                </MudStack>
            </MudItem>
        </MudGrid>
    </MudPaper>
</div>
<style>
    .hide-datagrid-headers .mud-table-head {
        display: none !important;
    }
</style>
@code {
    [Inject] private HttpClient Http { get; set; } = default!;
    [Inject] private IDialogService DialogService { get; set; } = default!;
    [Parameter] public Models.Dispatch? currentDispatch { get; set; }
    [Parameter] public Models.DispatchStep Value { get; set; }
    [Parameter] public EventCallback<Models.DispatchStep> ValueChanged { get; set; }
    private Models.DispatchStep CurrentStep
    {
        get => Value;
        set
        {
            if (Value != value)
            {
                Value = value;
                ValueChanged.InvokeAsync(Value);
            }
        }
    }


    bool _loading = true;
    string searchString = "";
    private int GuideCurrentPage = 0;   

    private MudDataGrid<Models.PackageDetail>? PartsMudDataGrid;
    private List<Models.PackageDetail>? PendingParts;

    Func<Models.PackageDetail, object> GetSortKeySelector(string sortByPropertyName) => sortByPropertyName switch
    {
        nameof(Models.PackageDetail.PartName) => o => o.PartName ?? "",
        nameof(Models.PackageDetail.Pending) => o => o.Pending ?? 0,
        _ => null!
    };

    private async Task<GridData<Models.PackageDetail>> ServerReload(GridState<Models.PackageDetail> state)
    {
        _loading = true;
        var totalItems = 0;
        var mOffset = state.Page * state.PageSize;
        IEnumerable<Models.PackageDetail> data;
        HttpResponseMessage response = await Http.GetAsync($"api/Inventory/GetPackageDetailsPending?packageId={currentDispatch?.PackageId}");
        if (response.IsSuccessStatusCode)
        {
            var content2 = await response.Content.ReadFromJsonAsync<WebApiResponse<List<Models.PackageDetail>>>();
            totalItems = content2!.total ?? 0;
            data = content2!.data ?? new List<Models.PackageDetail>();
        }
        else
        {
            var errorMessage = await response.Content.ReadAsStringAsync();
            throw new Exception(errorMessage);
        }

        totalItems = data.Count();

        // Sorting
        if (state.SortDefinitions.FirstOrDefault() is SortDefinition<Models.PackageDetail> sortDefinition)
        {
            data = data.OrderByDirection(sortDefinition.Descending ? SortDirection.Descending : SortDirection.Ascending, GetSortKeySelector(sortDefinition.SortBy));
        }

        // Paging
        //data = data.Skip(mOffset).Take(state.PageSize);
        await Task.CompletedTask;
        _loading = false;
        return new GridData<Models.PackageDetail> { TotalItems = totalItems, Items = data };

    }

    private async Task ClickRefreshGuides(MouseEventArgs ev)
    {
        await PartsMudDataGrid!.ReloadServerData();
    }
    private async Task OnSearch(string text)
    {
        if (text.Length >= 3 && (await GetPackageDetailByPart(currentDispatch!.PackageId, text) is Models.PackageDetail MyPackageDetail))
        {
            currentDispatch.PartId = MyPackageDetail.PartId;
            currentDispatch.PartName = MyPackageDetail.PartName;
            currentDispatch.Pending = MyPackageDetail.Pending;
            currentDispatch.Quantity = null;
            Dispatch.PreviousStep = Models.DispatchStep.Pending;
            CurrentStep = Models.DispatchStep.SetPackage;
            await Task.CompletedTask;
            //await PackageMudDataGrid!.ReloadServerData();
        }
    }
    private async Task<Models.PackageDetail?> GetPackageDetailByPart(int? PackageId, string ScanCode)
    {
        Models.PackageDetail? PackageDetailResut = null;
        HttpResponseMessage response = await Http.GetAsync($"api/Inventory/GetPackageDetailByPart?packageId={PackageId}&scanCode={ScanCode}");
        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            var Resut = await response.Content.ReadFromJsonAsync<WebApiResponse<List<Models.PackageDetail>>>();
            PackageDetailResut = Resut!.data?.FirstOrDefault();
        }
        else if (response.StatusCode == System.Net.HttpStatusCode.Conflict)
        {
            var conflictContent = await response.Content.ReadFromJsonAsync<WebApiResponse<Object?>>();
            await DialogService.ShowDialog(conflictContent?.message!, "Error Repuesto", "OK", Color.Error, Icons.Material.Filled.Error);
        }
        return await Task.FromResult(PackageDetailResut);
    }
    private async Task ClickSelectGuide(Models.PackageDetail item)
    {        
        currentDispatch!.Pending = item.Pending;
        currentDispatch.PartId = item.PartId;
        currentDispatch.PartName = item.PartName;
        currentDispatch.Quantity = null;
        Dispatch.PreviousStep = Models.DispatchStep.Pending;
        CurrentStep = Models.DispatchStep.SetPackage;
        await Task.CompletedTask;
    }
    private async Task ClickRemovePart(Models.PackageDetail item)
    {
        await Task.CompletedTask;
    }
    private async Task ClickClosehGuides(MouseEventArgs args)
    {
        CurrentStep = Models.DispatchStep.Package;
        await Task.CompletedTask;
    }

}