@page "/assistence"


@using Sipcon.WebApp.Client.Models
@using Sipcon.WebApp.Client.Services
@using Sipcon.WebApp.Client.Utils
@using Sipcon.WebApp.Client.Enum
@using System.Text.Json


@inject IAssistenceService AssistenceService
@inject IDialogService DialogService
@inject UtilModuleActions ModuleActionsService
@inject IJSRuntime JSRuntime
@inject NavigationManager UriHelper


<PageTitle>Asistencia</PageTitle>
<CustomBreadcrumbs mItems="_itemsNavigate"></CustomBreadcrumbs>

<MudDataGrid @ref="_mudDataGrid"
MultiSelection="true" 
SelectedItems="@selectedAssistence"
SortMode="SortMode.Multiple"
Filterable="true"
FixedHeader Height="calc(92vh - 235px)"
Hideable="true"
Loading="_loading"
Bordered="false"
Dense="true"
ServerData="LoadGridData">

    <ToolBarContent>
        <MudIconButton Icon="@Icons.Material.Filled.AddCard" Color="Color.Info" OnClick="() => ClickAddAssistence()"></MudIconButton>
        <MudTextField @bind-Value="_searchString" Placeholder="buscar" Adornment="Adornment.Start" Immediate="true"
        Typo="Typo.caption"
        AdornmentIcon="@Icons.Material.Filled.Search"
        OnAdornmentClick="() => ClickSearch()"
        IconSize="Size.Medium" Class="mt-0" 
        OnKeyUp="HandleKeyDownSearch">
        </MudTextField>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Refresh" Color="Color.Info" OnClick="() => HandleOnClickRefresh()" />
        <MudMenu Icon="@Icons.Material.Filled.MoreVert" AriaLabel="Open user menu">
            @foreach (var module in _itemsModules)
            {
                <MudMenuItem Icon="@(module.Icon ?? "")" IconColor="@module.Color"
                Label="@module.Text"
                OnClick="() => HandleMenuClick(module)" />
            }
        </MudMenu>
    </ToolBarContent>
    <Columns>
        <SelectColumn T="Assistence" />
        <TemplateColumn T="Assistence" Title="ORDEN">
            <CellTemplate>
                <MudText Typo="Typo.caption" Align="Align.End">@context.Item.OrderNumber</MudText>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn T="Assistence" Title="VIN">
            <CellTemplate>
                <MudText Typo="Typo.caption" Inline="true" Color="Color.Primary" Style="font-weight:bold;">@context.Item.Vin.ToUpper()</MudText>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn T="Assistence" Title="PLACA">
            <CellTemplate>
                <MudText Typo="Typo.caption" Align="Align.Start"><b>@context.Item.Plate.ToUpper()</b></MudText>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn T="Assistence" Title="KM" >
            <CellTemplate>
                <div class="d-flex justify-end">
                    <MudText Typo="Typo.caption" Align="Align.End">
                        @(context.Item.Km?.ToString("N0"))
                    </MudText>
                </div>
            </CellTemplate>
        </TemplateColumn>
        @* <PropertyColumn Property="x => x.Vat" Title="RIF" Sortable="false" Filterable="false" /> *@
       @*  <TemplateColumn T="Assistence" Title="CLIENTE">
            <CellTemplate>
                <MudText Typo="Typo.caption" Align="Align.Start">@(context.Item.CustomerName.ToUpper() + " " + context.Item.CustomerLastName.ToUpper()) </MudText>
            </CellTemplate>
        </TemplateColumn> *@
        <TemplateColumn T="Assistence" Title="COD. CONC.">
            <CellTemplate>
                <MudText Typo="Typo.caption" Align="Align.Start">@(context.Item.DealerServiceCod.ToUpper())</MudText>
            </CellTemplate>
        </TemplateColumn>
        @* <PropertyColumn Property="x => x.ServiceTypeName" Title="SERVICIO" Sortable="false" Filterable="false" /> *@
        <TemplateColumn T="Assistence" Title="FECHA">
            <CellTemplate>
                <MudText Typo="Typo.caption" Align="Align.Start">@(context.Item.ServiceDate?.ToString("dd MMM yyyy"))</MudText>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn T="Assistence" Title="ESTATUS">
            <CellTemplate>
                <div class="d-flex justify-center">
                    @if (context.Item.EstatusName != null)
                    {
                        string style = "";

                        if (context.Item.EstatusName.ToUpper() == "CREADO")
                            style += "";
                        else if (context.Item.EstatusName.ToUpper() == "ACTIVADO")
                        {
                            style += "color:#fff";
                            style += ";background-color:#0099F3";
                        }
                        else if (context.Item.EstatusName.ToUpper() == "APROBADO")
                        {
                            style += "color:#fff";
                            style += ";background-color:#0099F3";
                        }
                        else if (context.Item.EstatusName.ToUpper() == "PROCESADO")
                        {
                            style += "color:#fff";
                            style += ";background-color:#757575";
                        }
                        else
                        {
                            style += "color:#fff";
                            style += ";background-color:#FF7043";
                        }
                        style += ";font-size: 11px";
                        style += ";font-style:italic";

                        <MudChip T="string" Style="@style" Label="true" Disabled="true">
                            @(context.Item.EstatusName.ToUpper())
                        </MudChip>
                    }
                   
                </div>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn >
            <CellTemplate>
                <MudStack Row="true">
                    
                    @* OnClick="() => ClickEditAssistence(context.Item)" *@
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Text" Color="Color.Default" Size="Size.Small" Href="@(" assistencedetail/" + context.Item.Id)" />
                </MudStack>

            </CellTemplate>
        </TemplateColumn>
    </Columns>

    <PagerContent>
        <MudDataGridPager T="Assistence" PageSizeOptions="new int[] {100}" InfoFormat="{first_item}-{last_item} de {all_items}" RowsPerPageString="Registros por Pagina" />
    </PagerContent>
</MudDataGrid>

<MudDialog @bind-Visible="_nestedVisible">
    <TitleContent>
        <MudStack Row="true">
            <MudIcon Icon="@Icons.Material.Outlined.CarRepair" Color="@(_success? Color.Default: Color.Error)" Style="font-size: 2rem;"></MudIcon>
            <MudText Typo="Typo.h6">ASISTENCIA TECNICA</MudText>
        </MudStack>
    </TitleContent>
    <DialogContent>

        <MudStack Row="true">
            <MudText Class="nested"><p>@_nestedErrorMessage!</p> </MudText>
        </MudStack>

    </DialogContent>
    <DialogActions>

        <MudButton Color="Color.Info" OnClick="CloseNested" Variant="Variant.Filled" Class="px-10">Ok</MudButton>

    </DialogActions>
</MudDialog>



@code {
    private IEnumerable<Assistence> _Assistences = new List<Assistence>();
    private string _nestedErrorMessage = string.Empty;
    private bool _nestedVisible;
    bool _success = false;

    private int _rowCount = 0;
    private int _iduser = 1; // Cambia esto por el ID del usuario que estás utilizando
    private int _iddealer = 5103; // Cambia esto por el ID del usuario que estás utilizando
    private int _rowsTotal = 0; 

    private string _searchString = string.Empty;
    private bool _loading = true;
    private string _moduleName = "SERVICIOS-ASISTENCIA TECNICA";

    private MudDataGrid<Assistence>? _mudDataGrid;
    private HashSet<Assistence> selectedAssistence = new([]);
    private List<ModuleAction> _itemsModules = new List<ModuleAction>([]);

    private List<BreadcrumbItem> _itemsNavigate =
                [
        new("Home", href: null, icon: Icons.Material.Filled.Home),
        new("Asistencia",  href: "assistence", disabled: false, icon: Icons.Material.Filled.CarCrash),
    ];


    private async Task<GridData<Assistence>> LoadGridData(GridState<Assistence> state)
    {

        _rowCount = state.Page * state.PageSize;

        await GetAssistences();

        return new GridData<Assistence> { TotalItems = _rowsTotal, Items = _Assistences };
    }

    private async Task GetAssistences()
    {
        _loading = true;
        var serviceResponse = await AssistenceService.GetAssistences(_iduser, _iddealer, _rowCount, _searchString);
        if (serviceResponse.Processed)
        {
            _Assistences = serviceResponse.Data;
            _rowsTotal = serviceResponse.Total;

            if (_Assistences.Count() > 0)
            {
                _itemsModules = await ModuleActionsService.GetModuleActions(_iduser, _moduleName);
            }
            else { _itemsModules = new List<ModuleAction>([]); }


        }
        else
        {
            Console.WriteLine($"Error: {serviceResponse.Message}");
            _Assistences = new List<Assistence>();
            _rowsTotal = 0;
            _itemsModules = new List<ModuleAction>([]);
        }
        _loading = false;
    }


    private async Task HandleKeyDownSearch(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            if (_searchString.Length >= 3 || _searchString == string.Empty)
            {
                Console.WriteLine($"Buscando: {_searchString}");
                await _mudDataGrid!.ReloadServerData();
            }

        }
    }

    private async Task ClickSearch()
    {

        if (_searchString.Length >= 3 )
        {
            Console.WriteLine($"Buscando: {_searchString}");
            await _mudDataGrid!.ReloadServerData();
        }

    }


    private async Task HandleOnClickRefresh()
    {
        _searchString = string.Empty;
        await _mudDataGrid!.ReloadServerData();
    }


    private async Task ClickEditAssistence(Assistence item)
    {
        UriHelper.NavigateTo("assistencedetail/" + item.Id);
        await Task.CompletedTask;
    }


    private async Task ClickAddAssistence()
    {

        DialogOptions options = new() { BackdropClick = false, MaxWidth = MaxWidth.Medium, FullWidth = true, CloseButton = false, NoHeader = true };

        var parameters = new DialogParameters<AssistenceDialog> { { x => x.IdAssistence, 0 }, { x => x.ActionsModal, ActionsEnum.Create } };
        var dialog = await DialogService.ShowAsync<AssistenceDialog>("simple dialog", parameters, options);
        var result = await dialog.Result;
        if (!result!.Canceled)
        {
            await _mudDataGrid!.ReloadServerData();
            StateHasChanged();
        }

        await Task.CompletedTask;
    }


    private void OpenNested() => _nestedVisible = true;

    private void CloseNested() => _nestedVisible = false;


    private async Task HandleMenuClick(ModuleAction module)
    {
        switch (module.ActionName)
        {
            case "EXPORT":
                await ExportItemsAsync();
                break;
            case "GENERATE":
                await GenerateItemsAsync(module.IdAction, module.ActionName);
                break;
            case "TOAPPROVE":
                await ToApproveItemsAsync(module.IdAction, module.ActionName);
                break;
            case "APPROVE":
                await ApproveItemsAsync(module.IdAction, module.ActionName);
                break;
            case "DECLINE":
                await DeclineItemsAsync(module.IdAction, module.ActionName);
                break;
            default:
                Console.WriteLine($"{MessageEnum.ActionsError.GetStringValue()}: {module.ActionName}");
                break;
        }
    }


    private async Task ExportItemsAsync()
    {
        var serviceResponse = await AssistenceService.ExportAssistences(_iduser, _iddealer, _searchString);
        if (serviceResponse.Processed)
        {
            _success = true;
            _nestedErrorMessage = "";

            var base64File = Convert.ToBase64String(serviceResponse.Data.ToArray());
            var fileUrl = $"data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,{base64File}";
            await JSRuntime.InvokeVoidAsync("downloadFile", fileUrl, "Asistencia.xlsx");

        }
        else
        {
            _success = false;
            _nestedErrorMessage = MessageEnum.ExportNotOK.GetStringValue();
            Console.WriteLine(serviceResponse.Message);
            OpenNested();

        }
    }


    private async Task GenerateItemsAsync(int moduleId, string moduleActionName)
    {
        Console.WriteLine("Generar Asistencia...");
        if (selectedAssistence.Any())
        {
            var option = new DialogOptions
                {
                    CloseButton = false,
                    MaxWidth = MaxWidth.Small,
                    FullWidth = true,
                    BackdropClick = false
                };
            bool? result = await DialogService.ShowMessageBox(
                "Generar Asistencia",
                $"Seguro de Generar Asistencia? ",
                yesText: "Si", noText: "No", "", option);

            if (result == true)
            {
                List<PostAction> ActionList = ([]);

                foreach (var policy in selectedAssistence)
                {
                    var VehicleAction = new PostAction
                        {
                            RecordId = policy.Id,
                            ModuleId = moduleId,
                            ActionName = moduleActionName
                        };
                    ActionList.Add(VehicleAction);
                }

                var serviceResponse = await AssistenceService.ActionsAssistence(ActionList, _iduser);
                if (serviceResponse.Processed)
                {

                    _success = true;
                    _nestedErrorMessage = MessageEnum.GenerateOK.GetStringValue();

                    OpenNested();
                    await _mudDataGrid!.ReloadServerData();
                    StateHasChanged();

                }
                else
                {
                    _success = false;
                    _nestedErrorMessage = MessageEnum.GenerateNotOK.GetStringValue();
                    Console.WriteLine(serviceResponse.Message);
                    OpenNested();

                }
            }

        }

        selectedAssistence = new([]);
        await Task.CompletedTask;
    }


    private async Task ToApproveItemsAsync(int moduleId, string moduleActionName)
    {
        Console.WriteLine("Por Aprobar Asistencia...");
        if (selectedAssistence.Any())
        {
            var option = new DialogOptions
            {
                CloseButton = false,
                MaxWidth = MaxWidth.Small,
                FullWidth = true,
                BackdropClick = false
            };
            bool? result = await DialogService.ShowMessageBox(
                "Pre Aprobar Asistencia Tècnica",
                $"Seguro de pre-aprobar? ",
                yesText: "Si", noText: "No", "", option);

            if (result == true)
            {
                List<PostAction> ActionList = ([]);

                foreach (var policy in selectedAssistence)
                {
                    var VehicleAction = new PostAction
                    {
                        RecordId = policy.Id,
                        ModuleId = moduleId,
                        ActionName = moduleActionName
                    };
                    ActionList.Add(VehicleAction);
                }

                var serviceResponse = await AssistenceService.ActionsAssistence(ActionList, _iduser);
                if (serviceResponse.Processed)
                {

                    _success = true;
                    _nestedErrorMessage = MessageEnum.ToApproveOK.GetStringValue();

                    OpenNested();
                    await _mudDataGrid!.ReloadServerData();
                    StateHasChanged();

                }
                else
                {
                    _success = false;
                    _nestedErrorMessage = MessageEnum.ToApproveNotOK.GetStringValue();
                    Console.WriteLine(serviceResponse.Message);
                    OpenNested();

                }
            }

        }

        selectedAssistence = new([]);
        await Task.CompletedTask;
    }


    private async Task ApproveItemsAsync(int moduleId, string moduleActionName)
    {
        Console.WriteLine("Aprobar Asistencia...");
        if (selectedAssistence.Any())
        {
            var option = new DialogOptions
            {
                CloseButton = false,
                MaxWidth = MaxWidth.Small,
                FullWidth = true,
                BackdropClick = false
            };
            bool? confir = await DialogService.ShowMessageBox(
                "Aprobar Asistencia Tècnica",
                $"Seguro de Aprobar? ",
                yesText: "Si", noText: "No", "", option);

            if (confir == true)
            {

                DialogOptions options = new() { BackdropClick = false, MaxWidth = MaxWidth.Small, FullWidth = true, CloseButton = false, NoHeader = true };
                var parameters = new DialogParameters<TextItemDialog> { { x => x.Title, "Aprobar Asistencia Tècnica..." } };
                var dialog = await DialogService.ShowAsync<TextItemDialog>("Asistencia Tècnica", parameters, options);

                StateHasChanged();

                var result = await dialog.Result;
                if (!result!.Canceled)
                {
                    var _Observacion = (string)(result.Data ?? string.Empty);
                    List<PostAction> ActionList = ([]);

                    foreach (var policy in selectedAssistence)
                    {
                        var VehicleAction = new PostAction
                        {
                            RecordId = policy.Id,
                            ModuleId = moduleId,
                            ActionName = moduleActionName,
                            ActionComment = _Observacion
                        };
                        ActionList.Add(VehicleAction);
                    }

                    var serviceResponse = await AssistenceService.ActionsAssistence(ActionList, _iduser);
                    if (serviceResponse.Processed)
                    {

                        _success = true;
                        _nestedErrorMessage = MessageEnum.ApproveOK.GetStringValue();

                        OpenNested();
                        await _mudDataGrid!.ReloadServerData();
                        StateHasChanged();

                    }
                    else
                    {
                        _success = false;
                        _nestedErrorMessage = MessageEnum.ApproveNotOK.GetStringValue();
                        Console.WriteLine(serviceResponse.Message);
                        OpenNested();

                    }
                }
                
            }

        }

        selectedAssistence = new([]);
        await Task.CompletedTask;
    }


    private async Task DeclineItemsAsync(int moduleId, string moduleActionName)
    {
        Console.WriteLine("Rechazar Asistencia...");
        if (selectedAssistence.Any())
        {
            var option = new DialogOptions
            {
                CloseButton = false,
                MaxWidth = MaxWidth.Small,
                FullWidth = true,
                BackdropClick = false
            };
            bool? confirm = await DialogService.ShowMessageBox(
                "Rechazar Asistencia Tècnica",
                $"Seguro de Rechazar? ",
                yesText: "Si", noText: "No", "", option);

            if (confirm == true)
            {
                DialogOptions options = new() { BackdropClick = false, MaxWidth = MaxWidth.Small, FullWidth = true, CloseButton = false, NoHeader = true };
                var parameters = new DialogParameters<TextItemDialog> { { x => x.Title, "Rechazar Asistencia Tècnica..." } };
                var dialog = await DialogService.ShowAsync<TextItemDialog>("Asistencia Tècnica", parameters, options);

                StateHasChanged();

                var result = await dialog.Result;
                if (!result!.Canceled)
                {
                    var _Observacion = (string)(result.Data ?? string.Empty);
                    List<PostAction> ActionList = ([]);

                    foreach (var policy in selectedAssistence)
                    {
                        var Action = new PostAction
                        {
                            RecordId = policy.Id,
                            ModuleId = moduleId,
                            ActionName = moduleActionName,
                            ActionComment = _Observacion
                        };
                        ActionList.Add(Action);
                    }

                    var serviceResponse = await AssistenceService.ActionsAssistence(ActionList, _iduser);
                    if (serviceResponse.Processed)
                    {

                        _success = true;
                        _nestedErrorMessage = MessageEnum.ApproveOK.GetStringValue();

                        OpenNested();
                        await _mudDataGrid!.ReloadServerData();
                        StateHasChanged();

                    }
                    else
                    {
                        _success = false;
                        _nestedErrorMessage = MessageEnum.ApproveNotOK.GetStringValue();
                        Console.WriteLine(serviceResponse.Message);
                        OpenNested();

                    }
                }
               
            }

        }

        selectedAssistence = new([]);
        await Task.CompletedTask;
    }

    private Func<Assistence, string> _cellStyleFunc => x =>
    {
        string style = "";

        if (x.EstatusName.ToUpper() == "CREADO")
            style += "";

        else if (x.EstatusName.ToUpper() == "APROBADO")
        {
            style += "color:#fff";
            style += ";background-color:#0099F3";
        }


        else if (x.EstatusName.ToUpper() == "PROCESADO")
        {
            style += "color:#fff";
            style += ";background-color:#757575";
        }
        else 
        {
            style += "color:#fff";
            style += ";background-color:#FF7043";
        }
        style += ";font-weight:bold";
        style += ";font-style:italic";
       

        return style;
    };

}
