@page "/maintenancedetail"
@page "/maintenancedetail/{IdMaintenance}"


@using Sipcon.WebApp.Client.Services
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using Sipcon.WebApp.Client.Utils
@using Sipcon.WebApp.Client.Enum
@using FluentValidation
@using System.Globalization

@inject IMaintenanceService MaintenanceService
@inject IPolicyService PolicyService
@inject UtilModuleActions ModuleActionsService
@inject IJSRuntime JSRuntime


<PageTitle>Mantenimiento</PageTitle>
<CustomBreadcrumbs mItems="_itemsNavigate"></CustomBreadcrumbs>

<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12">

             <MudGrid Spacing="1" Justify="Justify.Center">
                @* ///Vehicle *@
                <MudItem xs="12" sm="4">
                    <MudCard Elevation="2">

                        <MudCardHeader Style="padding-bottom: 0px;">
                            <CardHeaderContent>

                                <MudGrid Spacing="0" Justify="Justify.Center">
                                    <MudItem xs="12" sm="8">
                                        <div class="d-flex justify-left">
                                            <MudStack Row="true">
                                                <MudIcon Icon="@Icons.Material.Filled.CarRental" Color="Color.Default" Style="font-size: 2rem;"></MudIcon>
                                                <MudText Typo="Typo.subtitle2">Vehiculo</MudText>

                                            </MudStack>
                                        </div>
                                    </MudItem>

                                    <MudItem xs="12" sm="4">



                                    </MudItem>
                                </MudGrid>


                            </CardHeaderContent>

                        </MudCardHeader>
                        <MudCardContent Style="padding-top: 0px;">
                            <MudHidden @bind-Value="@_model.VehicleId" />

                            <MudTextField Typo="Typo.caption" @bind-Value="@_model.Vin"
                                          Label="Vin"
                                          Variant="Variant.Text"
                                          Margin="Margin.None"
                                          ReadOnly="true"
                                          Disabled="true" />


                            <MudStack Row="true">

                                <MudTextField Typo="Typo.caption" T="string" Text="@_model.Plate"
                                              Label="Placa"
                                              Variant="Variant.Text"
                                              Margin="Margin.None"
                                              ReadOnly="true"
                                              Disabled="true" />

                                <MudTextField Typo="Typo.caption" T="string" Text="@_model.Year"
                                              Label="Año"
                                              Variant="Variant.Text"
                                              Margin="Margin.None"
                                              ReadOnly="true"
                                              Disabled="true" />

                                <MudTextField Typo="Typo.caption" T="string" Text="@_modelPolicy.Color"
                                              Label="Color"
                                              Variant="Variant.Text"
                                              Margin="Margin.None"
                                              ReadOnly="true"
                                              Disabled="true" />



                            </MudStack>

                            <MudTextField Typo="Typo.caption" T="string" Text="@_model.DealerServiceName"
                                          Label="Concesionario"
                                          Variant="Variant.Text"
                                          Margin="Margin.None"
                                          ReadOnly="true"
                                          Disabled="true" />

                            <MudTextField Typo="Typo.caption" T="string" Text="@_model.ModelName"
                                          Label="Modelo"
                                          Variant="Variant.Text"
                                          Margin="Margin.None"
                                          ReadOnly="true"
                                          Disabled="true" />


                        </MudCardContent>

                    </MudCard>
                </MudItem>

                @* ///Customer *@
                <MudItem xs="12" sm="4">
                    <MudCard Elevation="2">
                        <MudCardHeader Style="padding-bottom: 0px;">
                            <CardHeaderContent>

                                <MudGrid Spacing="0" Justify="Justify.Center">
                                    <MudItem xs="12" sm="6">
                                        <div class="d-flex justify-left">
                                            <MudStack Row="true">
                                                <MudIcon Icon="@Icons.Material.Filled.ManageAccounts" Color="Color.Default" Style="font-size: 2rem;"></MudIcon>
                                                <MudText Typo="Typo.subtitle2">Cliente</MudText>

                                            </MudStack>
                                        </div>
                                    </MudItem>

                                    <MudItem xs="12" sm="6">
                                        <div class="d-flex justify-end">
                                            <MudStack Row="true">

                                            </MudStack>
                                        </div>
                                    </MudItem>
                                </MudGrid>

                            </CardHeaderContent>

                        </MudCardHeader>
                        <MudCardContent Style="padding-top: 0px;">
                            <MudHidden @bind-Value="_modelPolicy.CustomerId" />


                            <MudTextField Typo="Typo.caption" T="string" Text="@_modelPolicy.Vat"
                                          Label="RIF"
                                          Variant="Variant.Text"
                                          Margin="Margin.None"
                                          ReadOnly="true"
                                          Disabled="true" />

                            <MudStack Row="true">
                                <MudTextField Typo="Typo.caption" T="string" Text="@(_modelPolicy.LastName + " " + _modelPolicy.FirstName)"
                                              Label="Apellidos y Nombres"
                                              Variant="Variant.Text"
                                              Margin="Margin.None"
                                              ReadOnly="true"
                                              Disabled="true" />
                            </MudStack>



                            <MudTextField Typo="Typo.caption" T="string" Text="@_modelPolicy.Phone"
                                          Label="Tel&eacute;fono"
                                          Adornment="Adornment.Start"
                                          AdornmentIcon="@Icons.Material.Filled.Phone"
                                          Variant="Variant.Text"
                                          Margin="Margin.None"
                                          ReadOnly="true"
                                          Disabled="true" />


                            <MudTextField Typo="Typo.caption" T="string" Text="@_modelPolicy.Email"
                                          Label="Email"
                                          Adornment="Adornment.Start"
                                          AdornmentIcon="@Icons.Material.Filled.MailOutline"
                                          Variant="Variant.Text"
                                          Margin="Margin.None"
                                          ReadOnly="true"
                                          Disabled="true" />

                        </MudCardContent>

                    </MudCard>
                </MudItem>

                @* Datos Poliza *@
                <MudItem xs="12" sm="4">

                    <MudCard Elevation="2" Style="min-height:237px;">
                        <MudCardHeader>
                            <CardHeaderContent>

                                <MudGrid Spacing="0" Justify="Justify.Center">
                                    <MudItem xs="12" sm="8">


                                        <div class="d-flex justify-left">

                                            <MudStack Row="true">
                                                <MudIcon Icon="@Icons.Material.Filled.Policy" Color="Color.Default" Style="font-size: 1.8rem;"></MudIcon>
                                                <MudText Typo="Typo.subtitle2">Poliza</MudText>

                                            </MudStack>
                                        </div>
                                    </MudItem>

                                    <MudItem xs="12" sm="4">


                                    </MudItem>
                                </MudGrid>

                            </CardHeaderContent>
                            <CardHeaderActions>
                                @if (_modelPolicy.Id != 0)
                                {
                                    string style = "";

                                    if (_modelPolicy.EstatusName.ToUpper() == "CREADO")
                                        style += "";
                                    else if (_modelPolicy.EstatusName.ToUpper() == "ACTIVADO")
                                    {
                                        style += "color:#fff";
                                        style += ";background-color:#0099F3";
                                    }
                                    else if (_modelPolicy.EstatusName.ToUpper() == "APROBADO")
                                    {
                                        style += "color:#fff";
                                        style += ";background-color:#0099F3";
                                    }
                                    else if (_modelPolicy.EstatusName.ToUpper() == "PROCESADO")
                                    {
                                        style += "color:#fff";
                                        style += ";background-color:#757575";
                                    }
                                    else
                                    {
                                        style += "color:#fff";
                                        style += ";background-color:#FF7043";
                                    }
                                    style += ";font-weight:bold;font-size:10px";
                                    style += ";font-style:italic";


                                    <MudChip T="string" Style="@style" Label="true" Disabled="true">@_modelPolicy.EstatusName</MudChip>
                                }

                            </CardHeaderActions>

                        </MudCardHeader>
                        <MudCardContent Style="padding-top: 0px;">
                            <MudHidden @bind-Value="_model.Id" />
                            <MudHidden @bind-Value="IdMaintenance" />

                            <MudFlexBreak />

                            <div class="d-flex align-end justify-space-between mud-width-full">
                                <div class="d-flex flex-column">
                                    <MudText Typo="Typo.caption"><b>Nro. Poliza: </b> <MudText Typo="Typo.caption" Color="Color.Info">@(_modelPolicy.Id != 0 ? " #" + _model.NumberPolicy : "")</MudText></MudText>
                                    <MudText Typo="Typo.caption"><b>Activacion: </b> @(_modelPolicy.ActivationDate is null ? "" : _modelPolicy.ActivationDate.Value.ToString("dd-MMM-yyyy"))</MudText>
                                    <MudText Typo="Typo.caption"><b>Bloqueada: </b> @(_modelPolicy.LockDate is null ? "" : _modelPolicy.LockDate.Value.ToString("dd-MMM-yyyy")) </MudText>
                                    <MudText Typo="Typo.caption"><b>Expiracion: </b> @(_modelPolicy.ExpirationDate is null ? "" : _modelPolicy.ExpirationDate.Value.ToString("dd-MMM-yyyy"))</MudText>
                                </div>

                            </div>

                        </MudCardContent>

                    </MudCard>

                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12" sm="8">

             <MudGrid Spacing="1" Justify="Justify.Center">

                @* Datos Servicio *@
                <MudItem xs="12" sm="12">
                    <MudCard Elevation="0">
                        <MudCardHeader Style="padding-bottom: 0px;">
                            <CardHeaderContent>
                                <MudStack Row="true">
                                    @* <MudIcon Icon="@Icons.Material.Outlined.CarRepair" Color="Color.Default" Style="font-size: 1.8rem;"></MudIcon> *@
                                    <MudText Typo="Typo.subtitle2">Asistencia T&eacute;cnica </MudText>

                                </MudStack>
                            </CardHeaderContent>

                        </MudCardHeader>

                        <MudCardContent Style="padding-top: 0px;">

                            <MudStack Row="true">
                                <MudIcon Icon="@Icons.Material.Filled.Speed" Color="Color.Info" Style="font-size: 2rem;"></MudIcon>


                                <MudNumericField Typo="Typo.caption" @bind-Value="_model.Km"
                                                 Style="line-height: 0.8rem;"
                                                 Label="Kilometraje"
                                                 Variant="Variant.Text"
                                                 Margin="Margin.None"
                                                 HideSpinButtons="true"
                                                 Format="N0" Culture="@CultureInfo.GetCultureInfo("de-DE")"
                                                 ReadOnly="true"
                                                 Disabled="true" />

                                <MudDatePicker @bind-Date="_model.ServiceDate"
                                               Style="font-size: 14px;line-height: 0.8rem;"
                                               Label="Fecha Asistencia"
                                               Variant="Variant.Text"
                                               PickerVariant="PickerVariant.Inline"
                                               Margin="Margin.None"
                                               Modal="false"
                                               ShowToolbar="false"
                                               DateFormat="dd/MM/yyyy"
                                               Mask="@maskDate"
                                               ReadOnly="true"
                                               Disabled="true" />

                                <MudNumericField Typo="Typo.caption" @bind-Value="_model.OrderNumber"
                                                 Label="Nro.Orden"
                                                 Style="line-height: 0.8rem;"
                                                 Variant="Variant.Text"
                                                 Margin="Margin.Dense"
                                                 HideSpinButtons="true"
                                                 Culture="@CultureInfo.GetCultureInfo("de-DE")"
                                                 ReadOnly="true"
                                                 Disabled="true" />


                            </MudStack>
                                                       
                             <MudStack Row="true">
                                <MudDatePicker @bind-Date="_model.InvoiceDate"
                                               Style="font-size: 14px;line-height: 0.8rem;"
                                               Label="Fecha Factura"
                                               Variant="Variant.Text"
                                               PickerVariant="PickerVariant.Inline"
                                               Margin="Margin.None"
                                               Modal="false"
                                               ShowToolbar="false"
                                               DateFormat="dd/MM/yyyy"
                                               Mask="@maskDate"
                                               ReadOnly="true"
                                               Disabled="true" />

                                <MudNumericField Typo="Typo.caption" @bind-Value="_model.InvoiceNumber"
                                                 Label="Nro.Factura"
                                                 Style="line-height: 0.8rem;"
                                                 Variant="Variant.Text"
                                                 Margin="Margin.Dense"
                                                 HideSpinButtons="true"
                                                 ReadOnly="true"
                                                 Disabled="true" />
                             </MudStack> 

                            <MudDivider />

                            <MudTextField Typo="Typo.caption" @bind-Value="_model.DealerReport"
                                                Label="Reporte Cliente"
                                                Lines="3"
                                                MaxLength="500"
                                                Variant="Variant.Text"
                                                Margin="Margin.None"
                                                ReadOnly="true"
                                                Disabled="true" />

                                <MudTextField Typo="Typo.caption" @bind-Value="_model.SupplierReport"
                                                Label="Reporte Concesionario"
                                                Lines="3"
                                                MaxLength="500"
                                                Variant="Variant.Text"
                                                Margin="Margin.None"
                                                ReadOnly="true"
                                                Disabled="true" />

                                

                            

                        </MudCardContent>
                    </MudCard>
                </MudItem>

               

            </MudGrid>


        </MudItem>

        <MudItem xs="12" sm="4">
            <MudCard Elevation="0">
                <MudCardHeader Style="padding-bottom: 0px;">
                    <CardHeaderContent>
                        <MudStack Row="true">
                            <MudIcon Icon="@Icons.Material.Outlined.FileUpload" Color="Color.Default" Style="font-size: 1.8rem;"></MudIcon> 
                            <MudText Typo="Typo.subtitle2">Archivos Adjuntos </MudText>
                           
                        </MudStack>
                    </CardHeaderContent>

                </MudCardHeader>

                <MudCardContent Style="padding-top: 0px;">
                    <MudDivider />
                    <MudStack Row="true">
                        <div Class="rounded mud-paper-outlined d-flex align-center pa-3 ma-2">
                            <MudIcon Icon="@Icons.Custom.FileFormats.FileDocument" Color="Color.Inherit" Class="mr-2" />
                            evidencia_01.jpeg
                        </div>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" />
                    </MudStack>

                    <MudStack Row="true">
                        <div Class="rounded mud-paper-outlined d-flex align-center pa-3 ma-2">
                            <MudIcon Icon="@Icons.Custom.FileFormats.FileDocument" Color="Color.Inherit" Class="mr-2" />
                            evidencia_02.png
                        </div>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" />
                    </MudStack>

                    <MudStack Row="true">
                        <div Class="rounded mud-paper-outlined d-flex align-center pa-3 ma-2">
                            <MudIcon Icon="@Icons.Custom.FileFormats.FileDocument" Color="Color.Inherit" Class="mr-2" />
                            evidencia_01.pdf
                        </div>
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" />
                    </MudStack>


                    <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles">
                        <ActivatorContent>
                            <MudDivider />

                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Info"
                                       StartIcon="@Icons.Material.Filled.CloudUpload"
                                       FullWidth="true">
                                Upload Files
                            </MudButton>
                        </ActivatorContent>
                    </MudFileUpload>

                </MudCardContent>
            </MudCard>

        </MudItem>

        <MudItem xs="12" sm="12">
            <MudCard Elevation="0">
                <MudCardHeader Style="padding-bottom: 0px;">
                    <CardHeaderContent>
                        <MudStack Row="true">
                            <MudIcon Icon="@Icons.Material.Outlined.Message" Color="Color.Default" Style="font-size: 1.8rem;"></MudIcon>
                            <MudText Typo="Typo.subtitle2">Comentarios </MudText>

                        </MudStack>
                    </CardHeaderContent>

                </MudCardHeader>

                <MudCardContent Style="padding-top: 0px;">

                    <MudPaper Class="pa-4 mt-4">
                        <MudStack Row="true">
                            <MudTextField Typo="Typo.caption" T="string" Text="@_modelPolicy.Vat"
                                          Label="Mensaje"
                                          Variant="Variant.Outlined"
                                          Margin="Margin.None"
                                           />
                            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send" Color="Color.Info" Size="Size.Small">Enviar</MudButton>
                        </MudStack>
                    </MudPaper>

                   
                    <MudStack Row="true">
                        <div Class="d-flex align-start pa-3 ma-2">
                            <MudCard Style="min-width:420px">
                                <MudCardHeader>
                                    <CardHeaderAvatar>
                                        <MudAvatar Color="Color.Secondary">I</MudAvatar>
                                    </CardHeaderAvatar>
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.body1">Istra Croatia</MudText>
                                        <MudText Typo="Typo.body2">Error en escaneo de fallas.</MudText>
                                    </CardHeaderContent>
                                    <CardHeaderActions>
                                        <MudText Typo="Typo.caption">@DateTime.Now.ToString("dd,MMM yyyy") </MudText>
                                    </CardHeaderActions>
                                </MudCardHeader>
                            </MudCard>
                        </div>
                    </MudStack>

                    <MudStack Row="true">
                        <MudSpacer />
                        <MudSpacer />
                        <div Class="d-flex align-center pa-3 ma-2">
                            <MudCard Style="min-width:420px">
                                <MudCardHeader>
                                    <CardHeaderAvatar>
                                        <MudAvatar Color="Color.Secondary">I</MudAvatar>
                                    </CardHeaderAvatar>
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.body1">Istra Croatia</MudText>
                                        <MudText Typo="Typo.body2">Error en escaneo de fallas.</MudText>
                                    </CardHeaderContent>
                                    <CardHeaderActions>
                                        <MudText Typo="Typo.caption">@DateTime.Now.ToString("dd,MMM yyyy") </MudText>
                                    </CardHeaderActions>
                                </MudCardHeader>
                            </MudCard>
                        </div>
                        
                    </MudStack>

                </MudCardContent>
            </MudCard>

        </MudItem>
    </MudGrid>
</MudContainer>


@code {

    [Parameter]
    public string IdMaintenance { get; set; } = string.Empty;

    private Maintenance _model { get; set; } = new Maintenance();

    private Policy _modelPolicy { get; set; } = new Policy();
    private PolicyDetail _modelPolicyDetail { get; set; } = new PolicyDetail();

    private int _iduser = 1; // Cambia esto por el ID del usuario que estás utilizando
    private int _idDealer = 5103;


    IMask maskDate = new DateMask("dd/MM/yyyy");

    private List<BreadcrumbItem> _itemsNavigate =
                [
        new("Home", href: null, icon: Icons.Material.Filled.Home),
        new("Mantenimiento",  href: "maintenancedetail", disabled: false, icon: Icons.Material.Filled.CarCrash),
    ];


    IList<IBrowserFile> _files = new List<IBrowserFile>();
    private void UploadFiles(IBrowserFile file)
    {
        _files.Add(file);
        //TODO upload the files to the server
    }


    protected override async Task OnInitializedAsync()
    {

        await GetMaintenance();

        await Task.Delay(100);

        StateHasChanged();
        await Task.CompletedTask;

    }


    private async Task GetMaintenance()
    {

        var serviceResponse = await MaintenanceService.GetMaintenance(_iduser, _idDealer, Convert.ToInt32(IdMaintenance));
        if (serviceResponse.Processed)
        {
            _model = serviceResponse.Data ?? new Maintenance();
            await GetPolicyBy();
            
            await Task.Delay(100);
            StateHasChanged();
        }
        else
        {
            _model = new Maintenance();
            Console.WriteLine(serviceResponse.Message);
        }

    }

    private async Task GetPolicyBy()
    {

        _modelPolicy = new Policy();
        _modelPolicyDetail = new PolicyDetail();
        var serviceResponse = await PolicyService.GetPolicyBy(_model.Vin, _iduser, SearchByEnum.VIN);
        if (serviceResponse.Processed)
        {
            _modelPolicy = serviceResponse.Data ?? new Policy();


            var serviceResponseDetail = await PolicyService.GetPolicyDetail(_modelPolicy.Id, _model.Km ?? 0, _model.ServiceDate ?? DateTime.Now);
            if (serviceResponseDetail.Processed)
            {
                _modelPolicyDetail = serviceResponseDetail.Data ?? new PolicyDetail();
            }

        }

        await Task.CompletedTask;


        await Task.Delay(50);
        StateHasChanged();
    }



}
