@page "/models"


@using Sipcon.WebApp.Client.Models
@using Sipcon.WebApp.Client.Services
@using Sipcon.WebApp.Client.Utils
@using Sipcon.WebApp.Client.Enum
@using System.Text.Json


@inject IModelService ModelService
@inject IDialogService DialogService
@inject UtilModuleActions ModuleActionsService
@inject IJSRuntime JSRuntime


<PageTitle>Modelos</PageTitle>
<CustomBreadcrumbs mItems="_itemsNavigate"></CustomBreadcrumbs>

<InputFile OnChange="OnInputFileChange" accept=".xlsx" style="display:none" />

<MudDataGrid @ref="_mudDataGrid"
            MultiSelection="true" 
            SelectedItems="@_selectedModels"
            SortMode="SortMode.Multiple"
            Filterable="true"
            FixedHeader Height="calc(92vh - 235px)"
            Hideable="true"
            Loading="_loading"
            Bordered="false"
            Dense="true"
            ServerData="LoadGridData">

    <ToolBarContent>
        <MudIconButton Icon="@Icons.Material.Filled.AddCard" Color="Color.Info" OnClick="() => ClickAddModel()"></MudIconButton>
        <MudTextField @bind-Value="_searchString" Placeholder="Buscar" Adornment="Adornment.Start" Immediate="true"
                      Typo="Typo.caption"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      OnAdornmentClick="() => ClickSearch()"
                      IconSize="Size.Medium" Class="mt-0" 
                      OnKeyDown="HandleKeyDownSearch"></MudTextField>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Refresh" Color="Color.Info" OnClick="() => HandleOnClickRefresh()" />
        <MudMenu Icon="@Icons.Material.Filled.MoreVert" AriaLabel="Open user menu">
            @foreach (var module in _itemsModules)
            {
                <MudMenuItem Icon="@(module.Icon ?? "")" IconColor="@module.Color"
                                Label="@module.Text"
                                OnClick="() => HandleMenuClick(module)" />
            }
        </MudMenu>
    </ToolBarContent>
    <Columns>
        <SelectColumn T="Model" />
        <TemplateColumn T="Model" Title="MARCA">
            <CellTemplate>
                    
                <div class="d-flex justify-center" style="height: 45px;">
                    <MudTooltip Text="@context.Item.BrandName">
                        <MudImage Src="@(context.Item.BrandName.ToUpper() == "CHANGAN" ? "Images/changan_marca.jpeg" : "Images/foton_marca.jpeg")" ObjectFit="ObjectFit.ScaleDown" Class="rounded-lg "
                                    FallbackSrc="@(context.Item.BrandName.ToUpper() == "CHANGAN" ? "Images/changan_emblema.png": "Images/foton_emblema.jpeg")" Height="45" Width="55"></MudImage>
                    </MudTooltip>
                </div>
                   
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.Name" Title="NOMBRE" Sortable="false" Filterable="false" />
        <PropertyColumn Property="x => x.PolicyTypeName" Title="POLIZA" Sortable="false" Filterable="false" />
        <TemplateColumn T="Model" Title="ACTIVO">
                 
            <CellTemplate>
                <div class="d-flex justify-center">
                    <MudIcon Icon="@(context.Item.IsActive ? Icons.Material.Filled.VerifiedUser : Icons.Material.Filled.Dangerous)" Color="@(context.Item.IsActive ? Color.Success : Color.Error)" Size="Size.Medium" />
                </div>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn >
            <CellTemplate>
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Text" Color="Color.Default" Size="Size.Small" OnClick="() => ClickEditModel(context.Item)" />
            </CellTemplate>
        </TemplateColumn>
    </Columns>
        
    <PagerContent>
        <MudDataGridPager T="Model" PageSizeOptions="new int[] {100}" InfoFormat="{first_item}-{last_item} de {all_items}" RowsPerPageString="Registros por Pagina" />
    </PagerContent>
</MudDataGrid>

<MudDialog @bind-Visible="_nestedVisible">
    <TitleContent>
        <MudStack Row="true">
            <MudIcon Icon="@Icons.Material.Filled.CarRental" Color="@(_success ? Color.Default : Color.Error)" Style="font-size: 2rem;"></MudIcon>
            <MudText Typo="Typo.h6">Modelo</MudText>
        </MudStack>
    </TitleContent>
    <DialogContent>

        <MudStack Row="true">
            <MudText Class="nested"><p>@_nestedErrorMessage!</p> </MudText>
        </MudStack>

    </DialogContent>
    <DialogActions>
            
        <MudButton Color="Color.Info" OnClick="CloseNested" Variant="Variant.Filled" Class="px-10">Ok</MudButton>

    </DialogActions>
</MudDialog>



@code {
    private IEnumerable<Model> _Models = new List<Model>();
    private string _nestedErrorMessage = string.Empty;
    private bool _nestedVisible;
    bool _success = false;

    private int _rowCount = 0;
    private int _iduser = 1; // Cambia esto por el ID del usuario que estás utilizando
    private int _rowsTotal = 0; 

    private string _searchString = string.Empty;
    private bool _loading = true;
    private string _moduleName = "VEHICULOS-MODELOS";

    private MudDataGrid<Model>? _mudDataGrid;
    private HashSet<Model> _selectedModels = new([]);
    private IEnumerable<Module> _Modules { get; set; } = new List<Module>();
    private List<ModuleAction> _itemsModules = new List<ModuleAction>([]);

    private List<BreadcrumbItem> _itemsNavigate =
                [
        new("Home", href: null, icon: Icons.Material.Filled.Home),
        new("Modelos", href: "models", disabled: false, icon: Icons.Material.Filled.Policy )
    ];


    private async Task<GridData<Model>> LoadGridData(GridState<Model> state)
    {

        _rowCount = state.Page * state.PageSize;

        await GetModels();

        return new GridData<Model> { TotalItems = _rowsTotal, Items = _Models };
    }

    private async Task GetModels()
    {
        _loading = true;
        var serviceResponse = await ModelService.GetModels(_iduser, _rowCount, _searchString);
        if (serviceResponse.Processed)
        {
            _Models = serviceResponse.Data;
            _rowsTotal = serviceResponse.Total;

            if (_Models.Count() > 0)
            {
                _itemsModules = await ModuleActionsService.GetModuleActions(_iduser, _moduleName);
            }
            else { _itemsModules = new List<ModuleAction>([]); }

           
        }
        else
        {
            _Models = new List<Model>();
            _rowsTotal = 0;
            _itemsModules = new List<ModuleAction>([]);
        }
        _loading = false;
    }


    private async Task HandleKeyDownSearch(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            if (_searchString.Length >= 3 || _searchString == string.Empty)
            {
                Console.WriteLine($"Buscando: {_searchString}");
                await _mudDataGrid!.ReloadServerData();
            }

        }
    }

    private async Task ClickSearch()
    {

        if (_searchString.Length >= 3)
        {
            Console.WriteLine($"Buscando: {_searchString}");
            await _mudDataGrid!.ReloadServerData();
        }

    }


    private async Task HandleOnClickRefresh()
    {

        Console.WriteLine($"Buscando: {_searchString}");
        _searchString = string.Empty;
        await _mudDataGrid!.ReloadServerData();

    }

    private async Task ClickEditModel(Model item)
    {
        
        DialogOptions options = new() { BackdropClick = false, MaxWidth = MaxWidth.Small, FullWidth = true, CloseButton = false, NoHeader = true };
        var parameters = new DialogParameters<ModelDialog> { { x => x.IdModel, item.Id }, { x => x.ActionsModal, ActionsEnum.Edit } };
        var dialog = await DialogService.ShowAsync<ModelDialog>("simple dialog", parameters, options);
        var result = await dialog.Result;
        if (!result!.Canceled)
        {
            await _mudDataGrid!.ReloadServerData();
            StateHasChanged();
        }

        await Task.CompletedTask;
    }

    private async Task ClickAddModel()
    {

        DialogOptions options = new() { BackdropClick = false, MaxWidth = MaxWidth.Small, FullWidth = true, CloseButton = false, NoHeader = true };
        var parameters = new DialogParameters<ModelDialog> { { x => x.IdModel, 0 }, { x => x.ActionsModal, ActionsEnum.Create } };
        var dialog = await DialogService.ShowAsync<ModelDialog>("simple dialog", parameters, options);
        var result = await dialog.Result;
        if (!result!.Canceled)
        {
            await _mudDataGrid!.ReloadServerData();
            StateHasChanged();
        }
       
        await Task.CompletedTask;
    }

    
    private void OpenNested() => _nestedVisible = true;

    private void CloseNested() => _nestedVisible = false;


    private async Task HandleMenuClick(ModuleAction module)
    {
        switch (module.ActionName)
        {
            case "IMPORT":
                await ImportItemsAsync();
                break;
            case "EXPORT":
                await ExportItemsAsync();
                break;
            case "ACTIVATE":
                await ActivateItemsAsync(module.IdAction, module.ActionName);
                break;
            case "DEACTIVATE":
                await DesactivateItemsAsync(module.IdAction, module.ActionName);
                break;
            default:
                Console.WriteLine($"{MessageEnum.ActionsError.GetStringValue()}: {module.ActionName}");
                break;
        }
    }

    // private async Task ImportItemsAsync()
    // {

    //     await JSRuntime.InvokeVoidAsync("eval", "document.querySelector('[type=file]').click()");
    //     return;
    // }

    private async Task ImportItemsAsync()
    {

        DialogOptions options = new() { BackdropClick = false, MaxWidth = MaxWidth.Small, FullWidth = true, CloseButton = false, NoHeader = true };
        var parameters = new DialogParameters<ImporItemDialog> { { x => x.Title, "Importar Modelo(s)..." } };
        var dialog = await DialogService.ShowAsync<ImporItemDialog>("simple dialog", parameters, options);

        var result = await dialog.Result;
        if (!result!.Canceled)
        {

            IBrowserFile file = (IBrowserFile)(result.Data ?? string.Empty);
            const long maxAllowedSize = 10 * 1024 * 1024; // 10MB
            if (file.Size == 0)
            {
                _success = false;
                _nestedErrorMessage = MessageEnum.ImportError.GetStringValue();
                OpenNested();
            }
            else if (file.Size > maxAllowedSize)
            {
                _success = false;
                _nestedErrorMessage = MessageEnum.ImportErrorMaxByte.GetStringValue();  
                OpenNested();
            }
            else
            {
                using var stream = file.OpenReadStream(maxAllowedSize: maxAllowedSize);

                var content = new StreamContent(stream);
                content.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(file.ContentType);

                // Create a multipart form data content
                var formData = new MultipartFormDataContent();
                formData.Add(content, "file", file.Name);


                var serviceResponse = await ModelService.ImportModels(_iduser, formData);
                if (serviceResponse.Processed)
                {
                    _success = true;
                    _nestedErrorMessage =  MessageEnum.ImportOK.GetStringValue();

                    OpenNested();
                    await _mudDataGrid!.ReloadServerData();
                    StateHasChanged();

                }
                else
                {
                    _success = false;
                    _nestedErrorMessage = serviceResponse.Message ?? MessageEnum.ImportNotOK.GetStringValue();
                    OpenNested();

                }
            }


        }

        await Task.CompletedTask;
    }


    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        if (e.FileCount == 1)
        {
            var file = e.File;
            const long maxAllowedSize = 10 * 1024 * 1024; // 10MB
            if (file.Size == 0)
            {
                _success = false;
                _nestedErrorMessage = MessageEnum.ImportError.GetStringValue();
                OpenNested();
            }
            else if (file.Size > maxAllowedSize)
            {
                _success = false;
                _nestedErrorMessage = MessageEnum.ImportErrorMaxByte.GetStringValue();
                OpenNested();
            }
            else
            {
                using var stream = file.OpenReadStream(maxAllowedSize: maxAllowedSize);

                var content = new StreamContent(stream);
                content.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(file.ContentType);

                // Create a multipart form data content
                var formData = new MultipartFormDataContent();
                formData.Add(content, "file", file.Name);


                var serviceResponse = await ModelService.ImportModels(_iduser, formData);
                if (serviceResponse.Processed)
                {
                    _success = true;
                    _nestedErrorMessage = MessageEnum.ImportOK.GetStringValue();

                    OpenNested();
                    await _mudDataGrid!.ReloadServerData();
                    StateHasChanged();

                }
                else
                {
                    _success = false;
                    _nestedErrorMessage = serviceResponse.Message ?? MessageEnum.ImportNotOK.GetStringValue();
                    OpenNested();

                }
            }
        }
        await Task.CompletedTask;
    }

    
    private async Task ExportItemsAsync()
    {
        var serviceResponse = await ModelService.ExportModels(_iduser, _searchString);
        if (serviceResponse.Processed)
        {
            _success = true;
            _nestedErrorMessage = "";

            var base64File = Convert.ToBase64String(serviceResponse.Data.ToArray());
            var fileUrl = $"data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,{base64File}";
            await JSRuntime.InvokeVoidAsync("downloadFile", fileUrl, "Modelos.xlsx");

        }
        else
        {
            _success = false;
            _nestedErrorMessage = serviceResponse.Message ?? MessageEnum.ExportNotOK.GetStringValue();
            Console.WriteLine(serviceResponse.Message);
            OpenNested();

        }
    }

    private async Task ActivateItemsAsync(int moduleId, string moduleActionName)
    {
        if (_selectedModels.Any())
        {
            var option = new DialogOptions
                {
                    CloseButton = false,
                    MaxWidth = MaxWidth.Small,
                    FullWidth = true,
                    BackdropClick = false
                };
            bool? result = await DialogService.ShowMessageBox(
                "Activar Modelo(s)",
                $"Seguro de Activar Modelos seleccionados? ",
                yesText: "Si", noText: "No", "", option);

            if (result == true)
            {
                List<PostAction> ActionList = ([]);

                foreach (var vehicle in _selectedModels)
                {
                    var VehicleAction = new PostAction
                        {
                            RecordId = vehicle.Id,
                            ModuleId = moduleId,
                            ActionName = moduleActionName
                        };
                    ActionList.Add(VehicleAction);
                }

                var serviceResponse = await ModelService.ActionsModel(ActionList, _iduser);
                if (serviceResponse.Processed)
                {

                    _success = true;
                    _nestedErrorMessage = MessageEnum.ActivateOK.GetStringValue(); 

                    OpenNested();
                    await _mudDataGrid!.ReloadServerData();
                    StateHasChanged();

                }
                else
                {
                    _success = false;
                    _nestedErrorMessage = serviceResponse.Message ?? MessageEnum.ActivateNotOK.GetStringValue();
                    Console.WriteLine(serviceResponse.Message);
                    OpenNested();

                }
            }

        }

        _selectedModels = new([]);
        await Task.CompletedTask;
    }

    private async Task DesactivateItemsAsync(int moduleId, string moduleActionName)
    {
        if (_selectedModels.Any())
        {
            var option = new DialogOptions
                {
                    CloseButton = false,
                    MaxWidth = MaxWidth.Small,
                    FullWidth = true,
                    BackdropClick = false
                };
            bool? result = await DialogService.ShowMessageBox(
                "Inactivar Modelo(s)",
                $"Seguro de inactivar Modelo seleccionado(s)? ",
                yesText: "Si", noText: "No", "", option);

            if (result == true)
            {
                List<PostAction> ActionList = ([]);

                foreach (var vehicle in _selectedModels)
                {
                    var VehicleAction = new PostAction
                        {
                            RecordId = vehicle.Id,
                            ModuleId = moduleId,
                            ActionName = moduleActionName
                        };
                    ActionList.Add(VehicleAction);
                }

                var serviceResponse = await ModelService.ActionsModel(ActionList, _iduser);
                if (serviceResponse.Processed)
                {
                    _success = true;
                    _nestedErrorMessage = MessageEnum.DeactivateOK.GetStringValue(); 

                    OpenNested();
                    await _mudDataGrid!.ReloadServerData();
                    StateHasChanged();

                }
                else
                {
                    _success = false;
                    _nestedErrorMessage = serviceResponse.Message ?? MessageEnum.DeactivateNotOK.GetStringValue();
                    Console.WriteLine(serviceResponse.Message);
                    OpenNested();

                }
            }

        }

        _selectedModels = new([]);
        await Task.CompletedTask;
    }
   

}
