@using Sipcon.WebApp.Client.Services
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using Sipcon.WebApp.Client.Utils
@using Sipcon.WebApp.Client.Enum
@using FluentValidation

@inject IModelService ModelService
@inject IDialogService DialogService
@inject UtilModuleActions ModuleActionsService


<MudForm Model="@_model" @ref="@form" Validation="@(_modelValidator.ValidateValue)" ValidationDelay="0" >
    <MudDialog Class="blur dialog-background"  ActionsClass="dialog-background-surface">
       
        <DialogContent>

            <MudContainer Class="blur dialog-background-title py-2 pt-2 pa-2">

                <MudCard>

                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudGrid Spacing="0" Justify="Justify.Center">
                                <MudItem xs="12" sm="4">
                                    <div class="d-flex justify-left">

                                        <MudSwitch @bind-Value="_model.IsActive" Label="Activo" LabelPlacement="Placement.End" Color="Color.Success" Disabled="@(ActionsModal == ActionsEnum.Create ? true : false)" />
                                        <MudHidden @bind-Value="IdModel" />

                                    </div>
                                </MudItem>

                                <MudItem xs="12" sm="2">

                                </MudItem>
                                <MudItem xs="12" sm="6">
                                    <div class="d-flex justify-right" style="justify-content: end;">

                                        <MudButton OnClick="Cancel">Cancelar</MudButton>
                                        <MudFab StartIcon="@Icons.Material.Filled.Save" Label="Aceptar" OnClick="@(async () => await OnValidSubmit())" Color="Color.Info" Size="Size.Small" />


                                    </div>
                                </MudItem>
                            </MudGrid>


                        </CardHeaderContent>

                    </MudCardHeader>

                </MudCard>

            </MudContainer>

            <MudContainer Class="dialog-background-surface py-2 pt-2 pa-2">
                <MudGrid Spacing="1" Justify="Justify.Center">

                    <MudItem xs="12" sm="4">
                        <MudCard>

                            <MudCardContent Style="padding-top: 0px;">
                                <div class="d-flex justify-center" >

                                    <MudTooltip Text="Imagen Modelo">
                                        <MudImage Src="images/changan_rojo_1.png" Alt="Modelo" ObjectFit="ObjectFit.ScaleDown" Class="rounded-lg " FallbackSrc="Images/changan_emblema.png" Width="125" Height="152" />
                                    </MudTooltip>
                                </div>


                            </MudCardContent>
                        </MudCard>
                    </MudItem>
                    <MudItem xs="12" sm="8">
                        <MudCard>
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudStack Row="true">
                                        <MudIcon Icon="@Icons.Material.Filled.CarRental" Color="Color.Default" Style="font-size: 2rem;"></MudIcon>
                                        <MudText Typo="Typo.h6">Modelo</MudText>
                                    </MudStack>

                                </CardHeaderContent>
                                <CardHeaderActions>
                                    
                                </CardHeaderActions>
                            </MudCardHeader>
                            <MudCardContent Style="padding-top: 0px;">
                                <MudHidden @bind-Value="_model.Id" />
                                <MudTextField Typo="Typo.caption" @bind-Value="_model.Name" Label="Nombre" Variant="Variant.Text"
                                              Margin="Margin.Dense" Disabled="@(!_model.IsActive)"
                                              For="@(() => _model.Name)"
                                              Immediate="true" />
                                <MudTextField Typo="Typo.caption" @bind-Value="_model.Description" Label="Descripci&oacute;n" Variant="Variant.Text"
                                              Margin="Margin.Dense" Disabled="@(!_model.IsActive)" 
                                              For="@(() => _model.Description)"
                                              Immediate="true" />

                            </MudCardContent>

                        </MudCard>
                    </MudItem>
                    <MudItem xs="12" sm="12">
                        <MudCard>
                            <MudCardHeader>
                                <CardHeaderContent>
                                    <MudStack Row="true">
                                        <MudIcon Icon="@Icons.Material.Filled.Settings" Color="Color.Default" Style="font-size: 1.5rem;"></MudIcon>
                                        <MudText Typo="Typo.subtitle2">Opciones</MudText>
                                    </MudStack>

                                </CardHeaderContent>
                                <CardHeaderActions>

                                </CardHeaderActions>
                            </MudCardHeader>
                            <MudCardContent Style="padding-top: 0px;">
                                <MudStack Row="true">
                                    <MudSelect @bind-Value="_model.BrandId" Label="Marca" AdornmentColor="Color.Default" 
                                    Margin="Margin.Dense" Disabled="@(!_model.IsActive)"
                                               For="@(() => _model.BrandId)"
                                               Immediate="true" >
                                        @foreach (var item in _brandList)
                                        {
                                            <MudSelectItem Value="@item.Value">@item.Text</MudSelectItem>
                                        }
                                    </MudSelect>


                                    <MudSelect @bind-Value="_model.PolicyTypeId" Label="Tipo Poliza" AdornmentColor="Color.Default" 
                                    Margin="Margin.Dense" Disabled="@(!_model.IsActive)"
                                               For="@(() => _model.PolicyTypeId)"
                                               Immediate="true">
                                        @foreach (var item in _policyTypeList)
                                        {
                                            <MudSelectItem Value="@item.Value">@item.Text</MudSelectItem>
                                        }
                                    </MudSelect>


                                </MudStack>

                            </MudCardContent>

                        </MudCard>
                    </MudItem>
                </MudGrid>
            </MudContainer>

            <MudDialog @bind-Visible="_nestedModalVisible">
                <TitleContent>
                    <MudStack Row="true">
                        <MudIcon Icon="@Icons.Material.Filled.CarRental" Color="@(_successModal ? Color.Default : Color.Error)" Style="font-size: 2rem;"></MudIcon>
                        <MudText Typo="Typo.h6">Modelo</MudText>
                    </MudStack>
                </TitleContent>
                <DialogContent>
                    <MudStack Row="true">
                        <MudText Class="nested"><p>@_errorModalMessage!</p> </MudText>
                    </MudStack>
                </DialogContent>
                <DialogActions>
                    <MudButton Color="Color.Info" OnClick="CloseNestedModal" Variant="Variant.Filled" Class="px-10">Ok</MudButton>
                </DialogActions>
            </MudDialog>

        </DialogContent>
       
    </MudDialog>
</MudForm>

<style>
    .blur {
    backdrop-filter: blur(10px);
    }

    .dialog-background {
    background-color: transparent;
    }

    .dialog-background-title {
    background: rgb(from var(--mud-palette-info-lighten) r g b / 50%);
    color: var(--mud-palette-white);
    }

    .dialog-background-surface {
    background: rgb(from var(--mud-palette-surface) r g b / 75%);
    }
</style>

@code {


    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; } = default!;

    [Parameter]
    public int IdModel { get; set; } 
    [Parameter]
    public ActionsEnum ActionsModal { get; set; }

    private MudForm form;
    private Model _model { get; set; } = new Model();

    private string _errorModalMessage = string.Empty;
    private bool _nestedModalVisible;
    bool _successModal = false;

    private int _iduser = 1; // Cambia esto por el ID del usuario que estás utilizando

    private IEnumerable<SelectOption> _brandList { get; set; } = new List<SelectOption>();
    private IEnumerable<SelectOption> _policyTypeList { get; set; } = new List<SelectOption>();
    
    ModelValidator _modelValidator = new ModelValidator();



    protected override async Task OnInitializedAsync()
    {

        if (ActionsModal == ActionsEnum.Create)
        {
            _model = new Model();

            _brandList = await ModuleActionsService.GetBrandOption(_iduser);
            _policyTypeList = await ModuleActionsService.GetPolicyTypeOption(_iduser);

            await Task.Delay(100);

        }
        else
        {
            await GetModel();

        }

        await Task.CompletedTask;
    }


    private async Task GetModel()
    {
        var serviceResponse = await ModelService.GetModel(IdModel, _iduser);
        if (serviceResponse.Processed)
        {
            _model = serviceResponse.Data ?? new Model();

            _brandList = await ModuleActionsService.GetBrandOption(_iduser);
            _policyTypeList = await ModuleActionsService.GetPolicyTypeOption(_iduser);

            await Task.Delay(100);
            StateHasChanged();
        }
        else
        {
            _model = new Model();
            _errorModalMessage = "(Problemas al cargar Modelo) Modelo no encontrado...";
            Console.WriteLine(serviceResponse.Message);
            OpenNested();
        }

        await Task.CompletedTask;

    }

    private async Task OnValidSubmit()
    {
        await form.Validate();

        if (form.IsValid)
        {
            _errorModalMessage = "";

            var serviceResponse = await ModelService.UpdateModel(_model, _iduser);
            if (serviceResponse.Processed)
            {
                if (ActionsModal == ActionsEnum.Create)
                {
                    ActionsModal = ActionsEnum.Edit;
                    var _results = serviceResponse.Data ?? new List<ActionResult>();
                    var _result = _results.FirstOrDefault();
                    if (_result is not null)
                    {
                        IdModel = _result.LastId;
                        await GetModel();
                    }
                }
                _errorModalMessage = "Modelo guardado Satisfactoriamente...";
                _successModal = true;

            }
            else
            {
                _successModal = false;
                _errorModalMessage = "Problemas al guardar Modelo...";
                Console.WriteLine(serviceResponse.Message);

            }
            OpenNested();
        }

        StateHasChanged();
        await Task.CompletedTask;

    }



    private void Cancel()
    {
        if (_successModal)
            MudDialog.Close(DialogResult.Ok(true));
        else
        {
            MudDialog!.Cancel();
        }
    }

    private void OpenNested() => _nestedModalVisible = true;

    private async Task CloseNestedModal()
    {
        _nestedModalVisible = false;

        await Task.Delay(50);
        MudDialog.Close(DialogResult.Ok(true));
        await Task.CompletedTask;

    }
    

    /// <summary>
    /// Validacion del formulario 
    /// </summary>
    /// <typeparam name="Model"></typeparam>
    public class ModelValidator : AbstractValidator<Model>
    {
        public ModelValidator()
        {

            RuleFor(x => x.Name)
                .NotEmpty().WithMessage("Campo requerido")
                .Length(3, 80).WithMessage("Campo requerido entre 3-80 carácteres");

            RuleFor(x => x.Description)
            .NotEmpty().WithMessage("Campo requerido")
            .Length(5, 150).WithMessage("Campo requerido entre 5-150 carácteres");

            RuleFor(x => x.BrandId)
                .NotNull()
                 .GreaterThan(0).WithMessage("seleccione una Marca.");

            RuleFor(x => x.PolicyTypeId)
           .NotNull()
            .GreaterThan(0).WithMessage("seleccione un Tipo de Póliza.");

        }


        public Func<object, string, Task<IEnumerable<string>>> ValidateValue => async (model, propertyName) =>
        {
            var result = await ValidateAsync(ValidationContext<Model>.CreateWithOptions((Model)model, x => x.IncludeProperties(propertyName)));
            if (result.IsValid)
                return Array.Empty<string>();
            return result.Errors.Select(e => e.ErrorMessage);
        };

    }

   
}
