@using Sipcon.WebApp.Client.Models
@using Sipcon.WebApp.Client.Services
@using Sipcon.WebApp.Client.Utils
@using Sipcon.WebApp.Client.Enum
@using FluentValidation


@inject IDialogService DialogService
@inject IVehicleService VehicleService
@inject UtilModuleActions ModuleActionsService

<MudForm Model="@_model" @ref="@form" Validation="@(_modelValidator.ValidateValue)" ValidationDelay="0">
    <MudDialog Class="blur dialog-background " ActionsClass="dialog-background-surface">

        <DialogContent >

            <MudContainer Class="blur dialog-background-title py-2 pt-2 pa-2">

                <MudCard>

                    <MudCardHeader>
                        <CardHeaderContent>

                            <MudGrid Spacing="0" Justify="Justify.Center">

                                <MudItem xs="12" sm="4">
                                    <div class="d-flex justify-left">

                                       @*  <MudSwitch @bind-Value="_model.IsActive" Label="Activo" LabelPlacement="Placement.End" Color="Color.Success" Disabled="@(ActionsModal == ActionsEnum.Create ? true : false)" /> *@
                                        <MudHidden @bind-value="IdVehicle" />
                                    </div>
                                </MudItem>

                                <MudItem xs="12" sm="2">

                                </MudItem>
                                <MudItem xs="12" sm="6">
                                    <div class="d-flex justify-right" style="justify-content: end;">

                                        <MudButton OnClick="Cancel">Cancelar</MudButton>
                                        <MudFab StartIcon="@Icons.Material.Filled.Save" Label="Aceptar" OnClick="@(async () => await OnValidSubmit())" Color="Color.Info" Size="Size.Small" />

                                    </div>
                                </MudItem>
                            </MudGrid>



                        </CardHeaderContent>

                    </MudCardHeader>

                </MudCard>

            </MudContainer>


            <MudContainer Class="dialog-background-surface py-2 pt-2 pa-2">


                <MudGrid Spacing="1" Justify="Justify.Center">

                    @* Image Vehicle *@
                    <MudItem xs="12" sm="4">
                        <MudCard>

                            <MudCardContent Style="padding-top: 0px;">
                                <div class="d-flex justify-center">

                                    <MudTooltip Text="Imagen Veiculo">
                                        <MudImage ObjectFit="ObjectFit.Cover" Width="172" Height="157" Src="images/changan_rojo_1.png" Alt="Model Card" Elevation="25" Class="" />
                                    </MudTooltip>
                                </div>


                                <MudSelect Typo="Typo.caption" @bind-Value="@_model.ColorId" 
                                           Label="Color" 
                                           AdornmentColor="Color.Default" 
                                           Margin="Margin.Dense"
                                           For="@(() => _model.ColorId)"
                                           Immediate="true"
                                           Disabled="@(!_model.IsActive)">
                                    @foreach (var model in _ColorList)
                                    {
                                        <MudSelectItem Value="@model.Value">@model.Text</MudSelectItem>
                                    }
                                </MudSelect>
                                <MudDivider />
                                @if (ActionsModal != ActionsEnum.Create)
                                {
                                    <div class="d-flex justify-start">

                                        <MudStack Row="true">
                                            <MudIcon Icon="@Icons.Material.Filled.Settings" Color="Color.Default" Style="font-size: 1.8rem;"></MudIcon>
                                            <MudText Typo="Typo.subtitle2">Concesionario</MudText>

                                        </MudStack>
                                    </div>
                                    <MudStack Row="true">

                                        <MudSelect Typo="Typo.caption" @bind-Value="@_model.DealerId"
                                                   Label="Concesionario"
                                                   AdornmentColor="Color.Default"
                                                   Variant="Variant.Filled"
                                                   Margin="Margin.Dense"
                                                   Disabled="true">

                                            @foreach (var model in _DealerList)
                                            {
                                                <MudSelectItem Value="@model.Value">@model.Text</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudStack>
                                }
                               

                            </MudCardContent>
                        </MudCard>
                    </MudItem>

                    @* Datos Vehicle *@
                    <MudItem xs="12" sm="8">
                        <MudCard>
                            <MudCardHeader>
                                <CardHeaderContent>

                                    <MudGrid Spacing="0" Justify="Justify.Center">
                                        <MudItem xs="12" sm="8">


                                            <div class="d-flex justify-left">


                                                <MudStack Row="true">
                                                    <MudIcon Icon="@Icons.Material.Filled.CarRental" Color="Color.Default" Style="font-size: 2rem;"></MudIcon>
                                                    <MudText Typo="Typo.h6">Datos del Vehiculo</MudText>

                                                </MudStack>
                                            </div>
                                        </MudItem>

                                        <MudItem xs="12" sm="4">

                                         

                                        </MudItem>
                                    </MudGrid>


                                </CardHeaderContent>
                                <CardHeaderActions>
                                    @if (_model.Id != 0)
                                    {
                                        string style = "";

                                        if (_model.EstatusName.ToUpper() == "CREADO")
                                            style += "";
                                        else if (_model.EstatusName.ToUpper() == "DISPONIBLE")
                                        {
                                            style += "color:#fff";
                                            style += ";background-color:#0099F3";
                                        }
                                        else if (_model.EstatusName.ToUpper() == "ASIGNADO")
                                        {
                                            style += "color:#fff";
                                            style += ";background-color:#0099F3";
                                        }
                                        else if (_model.EstatusName.ToUpper() == "NO DISPONIBLE")
                                        {
                                            style += "color:#fff";
                                            style += ";background-color:#757575";
                                        }
                                        else
                                        {
                                            style += "color:#fff";
                                            style += ";background-color:#FF7043";
                                        }
                                        style += ";font-size: 10px";
                                        style += ";font-style:italic";

                                        <MudChip T="string" Style="@style" Label="true" Disabled="true">
                                            @(_model.EstatusName.ToUpper())
                                        </MudChip>
                                    }


                                </CardHeaderActions>

                            </MudCardHeader>
                            <MudCardContent Style="padding-top: 0px;">
                                <MudHidden @bind-value="_model.Id" />

                                <MudStack Row="true">
                                    <MudNumericField Typo="Typo.caption" @bind-Value="_model.Year"
                                                     Label="Año" 
                                                     Margin="Margin.Dense" 
                                                     Disabled="@(!_model.IsActive)"
                                                     MaxLength="4"
                                                     HideSpinButtons="true" 
                                                     For="@(() => _model.Year)"
                                                     Immediate="true" />

                                    <MudTextField Typo="Typo.caption" @bind-Value="_model.Plate" 
                                                  Label="Placa" 
                                                  Margin="Margin.Dense" 
                                                  Disabled="@(!_model.IsActive)"
                                                  MaxLength="12"              
                                                  For="@(() => _model.Plate)"
                                                  Immediate="true" />
                                </MudStack>

                                <MudStack Row="true">
                                    <MudTextField Typo="Typo.caption" @bind-Value="_model.Vin" 
                                                  Label="VIN" 
                                                  Margin="Margin.Dense" 
                                                  MaxLength="20" 
                                                  For="@(() => _model.Vin)"
                                                  Immediate="true"
                                                  Disabled="@(!_model.IsActive)" />

                                    <MudTextField Typo="Typo.caption" @bind-Value="_model.EngineSerial" 
                                                  Label="Serial Motor" 
                                                  MaxLength="20"
                                                  Margin="Margin.Dense" 
                                                  For="@(() => _model.EngineSerial)"
                                                  Immediate="true" 
                                                  Disabled="@(!_model.IsActive)" />
                                </MudStack>

                                <MudStack Row="true">

                                    <MudSelect T="int?" Value="@_model.BrandId" 
                                               Label="Marca"
                                               Typo="Typo.caption"
                                               AdornmentColor="Color.Default"
                                               Margin="Margin.Dense"
                                               ValueChanged="@((int? brandId) => OnBrandValueChanged(brandId ?? 0))"
                                               Validation="@(new Func<int?, IEnumerable<string>>(OnValidBrand))"
                                               Immediate="true"
                                               Disabled="@(!_model.IsActive)">
                                        @foreach (var item in _brandList)
                                        {
                                            <MudSelectItem Value="@item.Value" >@item.Text</MudSelectItem>
                                        }
                                    </MudSelect>

                                    <MudSelect @bind-Value="@_model.SupplierId" 
                                               Label="Planta"
                                               Typo="Typo.caption"
                                               Variant="Variant.Filled"
                                               AdornmentColor="Color.Default"
                                               Margin="Margin.Dense"
                                               For="@(() => _model.SupplierId)"
                                               Immediate="true"
                                               Disabled="true">
                                        @foreach (var item in _supplierList)
                                        {
                                            <MudSelectItem Value="@item.Value" >@item.Text</MudSelectItem>
                                        }
                                    </MudSelect>


                                    <MudSelect @bind-Value="@_model.ModelId" 
                                               Label="Modelo" 
                                               Typo="Typo.caption"
                                               AdornmentColor="Color.Default"
                                               Margin="Margin.Dense"
                                               For="@(() => _model.ModelId)"
                                               Immediate="true"
                                               Disabled="@(!_model.IsActive)">
                                        @foreach (var model in _ModelList)
                                        {
                                            <MudSelectItem Value="@model.Value" >@model.Text</MudSelectItem>
                                        }
                                    </MudSelect>
                                </MudStack>

                                <MudDivider />

                                @if (ActionsModal != ActionsEnum.Create)
                                {
                                    <div class="d-flex justify-start">
                                        <MudStack Row="true">
                                            <MudIcon Icon="@Icons.Material.Filled.SupervisedUserCircle" Color="Color.Default" Style="font-size: 1.8rem;"></MudIcon>
                                            <MudText Typo="Typo.subtitle2">Cliente</MudText>

                                        </MudStack>
                                    </div>
                                    <MudHidden @bind-value="_model.CustomerId" />
                                    <MudTextField Typo="Typo.caption" @bind-Value="_model.CustomerName" 
                                                    Label="Cliente" 
                                                    Variant="Variant.Filled" 
                                                    Margin="Margin.Dense" 
                                                    Disabled="true" />

                                }



                            </MudCardContent>

                        </MudCard>
                    </MudItem>

                </MudGrid>
            </MudContainer>


            <MudDialog @bind-Visible="_nestedModalVisible">
                <TitleContent>
                    <MudStack Row="true">
                        <MudIcon Icon="@Icons.Material.Filled.CarRental" Color="@(_successModal ? Color.Default : Color.Error)" Style="font-size: 2rem;"></MudIcon>
                        <MudText Typo="Typo.h6">Vehiculo</MudText>
                    </MudStack>
                </TitleContent>
                <DialogContent>
                    <MudStack Row="true">
                        <MudText Class="nested"><p>@_errorModalMessage!</p> </MudText>
                    </MudStack>
                </DialogContent>
                <DialogActions>
                    <MudButton Color="Color.Info" OnClick="CloseNestedModal" Variant="Variant.Filled" Class="px-10">Ok</MudButton>

                </DialogActions>

            </MudDialog>

        </DialogContent>

    </MudDialog>
</MudForm>
<style>
    .blur {
    backdrop-filter: blur(10px);
    }

    .dialog-background {
    background-color: transparent;
    }

    .dialog-background-title {
    background: rgb(from var(--mud-palette-info-lighten) r g b / 50%);
    color: var(--mud-palette-white);
    }

    .dialog-background-surface {
    background: rgb(from var(--mud-palette-surface) r g b / 75%);
    }
</style>

@code {


    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; } = default!;

    [Parameter]
    public int IdVehicle { get; set; }
    [Parameter]
    public ActionsEnum ActionsModal { get; set; }

    private MudForm? form;
    private Vehicle _model { get; set; } = new Vehicle();

    private string _errorModalMessage = string.Empty;
    private bool _nestedModalVisible;
    bool _successModal = false;
    private int _iduser = 1; // Cambia esto por el ID del usuario que estás utilizando

    private IEnumerable<SelectOption> _ColorList { get; set; } = new List<SelectOption>();
    private IEnumerable<SelectOption> _ModelList { get; set; } = new List<SelectOption>();
    private IEnumerable<SelectOption> _supplierList { get; set; } = new List<SelectOption>();
    private IEnumerable<SelectOption> _brandList { get; set; } = new List<SelectOption>();
    private IEnumerable<SelectOption> _DealerList { get; set; } = new List<SelectOption>();

    ModelValidator _modelValidator = new ModelValidator();
    private IEnumerable<string> OnValidBrand(int? IdBrand)
    {
        if (string.IsNullOrEmpty(IdBrand.ToString()))
            yield return "Campo requerido";
    }

    protected override async Task OnInitializedAsync()
    {
        if (ActionsModal == ActionsEnum.Create)
        {
            _model = new Vehicle();

            _ColorList = await ModuleActionsService.GetColorOption(_iduser);
            
            _brandList = await ModuleActionsService.GetBrandOption(_iduser);
            // _SupplierList = await ModuleActionsService.GetSupplierOption(_iduser);
            // _ModelList = await ModuleActionsService.GetModelOption(_iduser);
            // _DealerList = await ModuleActionsService.GetDealerOption(_iduser);

            await Task.Delay(100);
           
        }
        else
        {
            await GetVehicle();

        }
        await Task.CompletedTask;
    }

    private async Task GetVehicle()
    {
        var serviceResponse = await VehicleService.GetVehicle(IdVehicle, _iduser);
        if (serviceResponse.Processed)
        {
            _model = serviceResponse.Data ?? new Vehicle();

            _ColorList = await ModuleActionsService.GetColorOption(_iduser);
            _brandList = await ModuleActionsService.GetBrandOption(_iduser);
            _supplierList = await ModuleActionsService.GetSupplierOption(_iduser, _model.BrandId ?? 0);
            _ModelList = await ModuleActionsService.GetModelOption(_iduser, _model.BrandId ?? 0);

            _DealerList = await ModuleActionsService.GetDealerOption(_iduser, _model.SupplierId ?? 0);


            await Task.Delay(100);
            StateHasChanged();
        }
        else
        {
            _model = new Vehicle();
          
            _errorModalMessage = serviceResponse.Message ?? MessageEnum.GetError.GetStringValue();
            Console.WriteLine(serviceResponse.Message);
            OpenNestedModal();
        }


        await Task.CompletedTask;

    }

    private async Task OnBrandValueChanged(int BrandId)
    {
        
        _model.BrandId = BrandId;
        _model.ModelId = null;
        _supplierList = await ModuleActionsService.GetSupplierOption(_iduser, BrandId);
        _ModelList = await ModuleActionsService.GetModelOption(_iduser, BrandId);
        
        await Task.Delay(50);
        
        _model.SupplierId = _supplierList.FirstOrDefault()?.Value ?? null;

        StateHasChanged();
        form?.ResetValidation();
        await Task.CompletedTask;
    }

    // private async Task OnSwitchValueChanged(bool newValue)
    // {
    //     // !_model.IsActive = _model.IsActive ? false : true;
    //     _model.IsActive = newValue; // Actualiza el modelo con el nuevo valor del switch.
    //     await Task.CompletedTask;
    // }



    private async Task OnValidSubmit()
    {
        await form!.Validate();

        if (form.IsValid)
        {
            _errorModalMessage = "";

            var serviceResponse = await VehicleService.UpdateVehicle(_model, _iduser);
            if (serviceResponse.Processed)
            {
                if (ActionsModal == ActionsEnum.Create)
                {
                    ActionsModal = ActionsEnum.Edit;
                    var _results = serviceResponse.Data ?? new List<ActionResult>();
                    var _result = _results.FirstOrDefault();
                    if (_result is not null)
                    {
                        IdVehicle = _result.LastId;
                        await GetVehicle();
                    }

                }
                _errorModalMessage = MessageEnum.SaveOK.GetStringValue();
                _successModal = true;
            }
            else
            {
                _successModal = false;
                _errorModalMessage = serviceResponse.Message ?? MessageEnum.SaveNotOK.GetStringValue();
                Console.WriteLine(serviceResponse.Message);            
            }

            OpenNestedModal();
        }

        StateHasChanged();
        await Task.CompletedTask;

    }


    private void Cancel()
    {
        if (_successModal)
            MudDialog.Close(DialogResult.Ok(true));
        else
        {
            MudDialog!.Cancel();
        }
    } 


    private void OpenNestedModal() => _nestedModalVisible = true;


    private async Task CloseNestedModal()
    {
        _nestedModalVisible = false;

        await Task.Delay(50);
        MudDialog.Close(DialogResult.Ok(true));
        await Task.CompletedTask;

    }


    /// <summary>
    /// Validacion del formulario
    /// </summary>
    /// <typeparam name="Vehicle"></typeparam>
    public class ModelValidator : AbstractValidator<Vehicle>
    {
        public ModelValidator()
        {
            RuleFor(x => x.ColorId)
                .NotNull().WithMessage("Campo requerido")
                .GreaterThan(0).WithMessage("Seleccione un Color.");

            RuleFor(x => x.Year)
                .NotNull().WithMessage("Campo requerido")
                .NotEmpty().WithMessage("Campo requerido")
            .Custom((value, context) =>
                {
                    if ( value > DateTime.Now.Year + 5)
                    {
                        context.AddFailure($"Campo requerido entre {(DateTime.Now.Year - 20).ToString() + "-" + (DateTime.Now.Year +5)}");
                    }
                });
               

            RuleFor(x => x.Plate)
                .NotNull().WithMessage("Campo requerido")
                .NotEmpty().WithMessage("Campo requerido")
                .Length(1, 12).WithMessage("Campo requerido entre 1-12 carácteres");

            RuleFor(x => x.Vin)
                .NotNull().WithMessage("Campo requerido")
                .NotEmpty().WithMessage("Campo requerido")
                .Length(1, 20).WithMessage("Campo requerido entre 1-20 carácteres");

            RuleFor(x => x.EngineSerial)
                .NotNull().WithMessage("Campo requerido")
                .NotEmpty().WithMessage("Campo requerido")
                .Length(1, 20).WithMessage("Campo requerido entre 1-20 carácteres");

            RuleFor(x => x.BrandId)
                .NotNull().WithMessage("Campo requerido")
                .GreaterThan(0).WithMessage("Campo requerido");

            RuleFor(x => x.SupplierId)
                .NotNull().WithMessage("Campo requerido")
                .GreaterThan(0).WithMessage("Campo requerido");

            RuleFor(x => x.ModelId)
                .NotNull().WithMessage("Campo requerido")
                .GreaterThan(0).WithMessage("Campo requerido");

        }


        public Func<object, string, Task<IEnumerable<string>>> ValidateValue => async (model, propertyName) =>
        {
            var result = await ValidateAsync(ValidationContext<Vehicle>.CreateWithOptions((Vehicle)model, x => x.IncludeProperties(propertyName)));
            if (result.IsValid)
                return Array.Empty<string>();
            return result.Errors.Select(e => e.ErrorMessage);
        };

    }
}
