@page "/accessuser"


@using Sipcon.WebApp.Client.Models
@using Sipcon.WebApp.Client.Services
@using Sipcon.WebApp.Client.Utils
@using Sipcon.WebApp.Client.Enum
@using Sipcon.WebApp.Client.Components.AccessUser
@using System.Text.Json


@inject ISecurityService SecurityService
@inject IDialogService DialogService
@inject UtilModuleActions ModuleActionsService
@inject IJSRuntime JSRuntime

<PageTitle>Usuarios</PageTitle>
<CustomBreadcrumbs mItems="_itemsNavigate"></CustomBreadcrumbs>

<MudDataGrid @ref="_mudDataGrid"
MultiSelection="true" 
SelectedItems="@selectedAccessGroup"
SortMode="SortMode.Multiple"
Filterable="true"
FixedHeader Height="calc(98vh - 235px)"
Hideable="true"
Loading="_loading"
Bordered="false"
Dense="true"
ServerData="LoadGridData">

    <ToolBarContent>
        <MudIconButton Icon="@Icons.Material.Filled.AddCard" Color="Color.Info" OnClick="() => ClickAddUserAsync()"></MudIconButton>
        <MudTextField @bind-Value="_searchString" Placeholder="buscar" Adornment="Adornment.Start" Immediate="true"
        Typo="Typo.caption"
        AdornmentIcon="@Icons.Material.Filled.Search"
        OnAdornmentClick="() => ClickSearch()"
        IconSize="Size.Medium" Class="mt-0" 
        OnKeyUp="HandleKeyDownSearch">
        </MudTextField>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.Refresh" Color="Color.Info" OnClick="() => HandleOnClickRefresh()" />
        <MudMenu Icon="@Icons.Material.Filled.MoreVert" AriaLabel="Open user menu">
            @foreach (var module in _itemsModules)
            {
                <MudMenuItem Icon="@(module.Icon ?? "")" IconColor="@module.Color"
                Label="@module.Text"
                OnClick="() => HandleMenuClick(module)" />
            }
        </MudMenu>
    </ToolBarContent>
    <Columns>
        <SelectColumn T="AccessUserDetail" />
        <TemplateColumn T="AccessUserDetail" Title="USUARIO">
            <CellTemplate>
                <MudStack Row="true">
                    <MudAvatar Color="Color.Dark">@(string.IsNullOrEmpty(context.Item.Login) ? "U" : context.Item.Login.ToUpper().Substring(0, 1))</MudAvatar>
                    <MudText Typo="Typo.caption" Inline="true" Style="font-size: 12px;font-style:italic">@(context.Item.Login.ToUpper())</MudText>
                </MudStack>

            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn T="AccessUserDetail" Title="NOMBRES Y APELLIDOS">
            <CellTemplate>
                <MudChatBubble Style="min-width: 250px;">@(context.Item.UserName.ToUpper() + " " + context.Item.UserLastName.ToUpper())</MudChatBubble>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn T="AccessUserDetail" Title="CODIGO">
            <CellTemplate>
                <MudText Typo="Typo.caption" Inline="true" Color="Color.Primary" Style="font-weight:bold;">
                    @("#" + context.Item.UserId.ToString().PadLeft(10, '0'))
                </MudText>
            </CellTemplate>
        </TemplateColumn>
        <TemplateColumn >
            <CellTemplate>
                <MudStack Row="true">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Text" Color="Color.Default" Size="Size.Small" OnClick="() => ClickEditUserAsync(context.Item)" />
                    <MudIconButton Icon="@Icons.Material.Outlined.Groups" Variant="Variant.Text" Color="Color.Default" Size="Size.Small" OnClick="() => ClickEditRolesAsync(context.Item)" />
                </MudStack>

            </CellTemplate>
        </TemplateColumn>
    </Columns>

    <PagerContent>
        <MudDataGridPager T="AccessUserDetail" PageSizeOptions="new int[] {100}" InfoFormat="{first_item}-{last_item} de {all_items}" RowsPerPageString="Registros por Pagina" />
    </PagerContent>
</MudDataGrid>

<MudDialog @bind-Visible="_nestedVisible">
    <TitleContent>
        <MudStack Row="true">
            <MudIcon Icon="@Icons.Material.Outlined.CarRepair" Color="@(_success? Color.Default: Color.Error)" Style="font-size: 2rem;"></MudIcon>
            <MudText Typo="Typo.h6">Usuarios</MudText>
        </MudStack>
    </TitleContent>
    <DialogContent>

        <MudStack Row="true">
            <MudText Class="nested"><p>@_nestedErrorMessage!</p> </MudText>
        </MudStack>

    </DialogContent>
    <DialogActions>

        <MudButton Color="Color.Info" OnClick="CloseNested" Variant="Variant.Filled" Class="px-10">Ok</MudButton>

    </DialogActions>
</MudDialog>



@code {
    private IEnumerable<AccessUserDetail> _accessGroupList = new List<AccessUserDetail>();
    private string _nestedErrorMessage = string.Empty;
    private bool _nestedVisible;
    bool _success = false;

    private int _rowCount = 0;
    private int _rowsTotal = 0; 

    private string _searchString = string.Empty;
    private bool _loading = true;
    private string _moduleName = "SEGURIDAD-USUARIOS";

    private MudDataGrid<AccessUserDetail>? _mudDataGrid;
    private HashSet<AccessUserDetail> selectedAccessGroup = new([]);
    private List<ModuleAction> _itemsModules = new List<ModuleAction>([]);

    private List<BreadcrumbItem> _itemsNavigate =
    [
        new("Home", href: "", icon: Icons.Material.Filled.Home),
        new("Seguridad", href: "#", icon: Icons.Material.Filled.Security, disabled:true),
        new("Usuarios",  href: "accessuser", icon: Icons.Material.Filled.VerifiedUser, disabled: true),
    ];




    private async Task<GridData<AccessUserDetail>> LoadGridData(GridState<AccessUserDetail> state)
    {

        _rowCount = state.Page * state.PageSize;

        await GetAccessUserDetails();

        return new GridData<AccessUserDetail> { TotalItems = _rowsTotal, Items = _accessGroupList };
    }

    private async Task GetAccessUserDetails()
    {
        _loading = true;
        var serviceResponse = await SecurityService.GetAccessUserDetails(0, _rowCount, false, _searchString);
        if (serviceResponse.Processed)
        {
            _accessGroupList = serviceResponse.Data.OrderBy(s => s.UserName);
            _rowsTotal = serviceResponse.Total;

            if (_accessGroupList.Any())
            {
                _itemsModules = await ModuleActionsService.GetModuleActions(Useful.userId, _moduleName);
            }
            else { _itemsModules = new List<ModuleAction>([]); }


        }
        else
        {
            Console.WriteLine($"Error: {serviceResponse.Message}");
            _accessGroupList = new List<AccessUserDetail>();
            _rowsTotal = 0;
            _itemsModules = new List<ModuleAction>([]);
        }
        _loading = false;
    }


    private async Task HandleKeyDownSearch(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            if (_searchString.Length >= 3 || _searchString == string.Empty)
            {
                Console.WriteLine($"Buscando: {_searchString}");
                await _mudDataGrid!.ReloadServerData();
            }

        }
    }

    private async Task ClickSearch()
    {

        if (_searchString.Length >= 3 )
        {
            Console.WriteLine($"Buscando: {_searchString}");
            await _mudDataGrid!.ReloadServerData();
        }

    }


    private async Task HandleOnClickRefresh()
    {
        _searchString = string.Empty;
        await _mudDataGrid!.ReloadServerData();
    }


    private async Task ClickEditRolesAsync(AccessUserDetail Detail)
    {

        DialogOptions options = new() { MaxWidth = MaxWidth.Medium, BackdropClick = false, NoHeader = true };

        var parameters = new DialogParameters<AccessUserDialog> { { x => x.Usuario, Detail }};
        var dialog = await DialogService.ShowAsync<AccessUserDialog>("USUARIOS", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await _mudDataGrid!.ReloadServerData();
            StateHasChanged();
        }
        await Task.CompletedTask;
    }


    private async Task OpenContactForm(int? mId)
    {
        await DialogService.OpenForm<ContactForm, Contact>(mId, null, _moduleName);
        await _mudDataGrid!.ReloadServerData();
    } 

    private async Task ClickEditUserAsync(AccessUserDetail item) => await OpenContactForm(item.UserId);
    private async Task ClickAddUserAsync() => await OpenContactForm(0);

    private void OpenNested() => _nestedVisible = true;

    private void CloseNested() => _nestedVisible = false;


    private async Task HandleMenuClick(ModuleAction module)
    {
        switch (module.ActionName)
        {
            case "ACTIVATE":
                await ActivateItemsAsync(module.IdAction, module.ActionName);
                break;
            case "DEACTIVATE":
                await DesactivateItemsAsync(module.IdAction, module.ActionName);
                break;
            default:
                Console.WriteLine($"{MessageEnum.ActionsError.GetStringValue()}: {module.ActionName}");
                break;
        }
    }


    private async Task ActivateItemsAsync(int moduleId, string moduleActionName)
    {
        if (selectedAccessGroup.Any())
        {
            var option = new DialogOptions
            {
                CloseButton = false,
                MaxWidth = MaxWidth.Small,
                FullWidth = true,
                BackdropClick = false
            };
            bool? result = await DialogService.ShowMessageBox(
                "Activar Usuarios",
                $"Seguro de Activar Usuarios seleccionados? ",
                yesText: "Si", noText: "No", "", option);

            if (result == true)
            {
                List<PostAction> ActionList = ([]);

                foreach (var item in selectedAccessGroup)
                {
                    var VehicleAction = new PostAction
                    {
                        RecordId = item.UserId,
                        ModuleId = moduleId,
                        ActionName = moduleActionName
                    };
                    ActionList.Add(VehicleAction);
                }

                var serviceResponse = await SecurityService.ActionsAccessGroup(ActionList, Useful.userId);
                if (serviceResponse.Processed)
                {
                    _success = true;
                    _nestedErrorMessage = MessageEnum.ActivateOK.GetStringValue();

                    OpenNested();
                    await _mudDataGrid!.ReloadServerData();
                    StateHasChanged();

                }
                else
                {
                    _success = false;
                    _nestedErrorMessage = serviceResponse.Message ?? MessageEnum.ActivateNotOK.GetStringValue();
                    Console.WriteLine(serviceResponse.Message);
                    OpenNested();

                }
            }

        }

        selectedAccessGroup = new([]);
        await Task.CompletedTask;
    }


    private async Task DesactivateItemsAsync(int moduleId, string moduleActionName)
    {
        if (selectedAccessGroup.Any())
        {
            var option = new DialogOptions
            {
                CloseButton = false,
                MaxWidth = MaxWidth.Small,
                FullWidth = true,
                BackdropClick = false
            };
            bool? result = await DialogService.ShowMessageBox(
                "Desactivar Usuarios",
                $"Seguro de Inactivar Usuarios seleccionados?",
                yesText: "Si", noText: "No", "", option);

            if (result == true)
            {
                List<PostAction> ActionList = ([]);

                foreach (var item in selectedAccessGroup)
                {
                    var _action = new PostAction
                    {
                        RecordId = item.UserId,
                        ModuleId = moduleId,
                        ActionName = moduleActionName
                    };
                    ActionList.Add(_action);
                }

        var serviceResponse = await SecurityService.ActionsAccessGroup(ActionList, Useful.userId);
                if (serviceResponse.Processed)
                {
                    _success = true;
                    _nestedErrorMessage = MessageEnum.DeactivateOK.GetStringValue();

                    OpenNested();
                    await _mudDataGrid!.ReloadServerData();
                    StateHasChanged();

                }
                else
                {
                    _success = false;
                    _nestedErrorMessage = serviceResponse.Message ?? MessageEnum.DeactivateNotOK.GetStringValue();
                    Console.WriteLine(serviceResponse.Message);
                    OpenNested();

                }
            }

        }

        selectedAccessGroup = new([]);
        await Task.CompletedTask;
    }


}
